.document-wrapper-border:first-child .border-group {
  border-top-width: 1px;
}

.document-wrapper-border .border-group {
  border-bottom-width: 1px;
  border-style: solid;

}

.drop,
.drop-reverse {
  display: block;
  position: absolute;
  border-radius: 100%;
  transform: scale(0);
  pointer-events: none;

}

.drop-reverse {
  z-index: 1;
}

.drop.animate {
  background: #34446D;
  animation: drop 1s ease-out;
  animation-fill-mode: forwards;
}

.drop-reverse.animate {
  background: #FFF;
  animation: drop 1s ease-out;
  animation-fill-mode: forwards;
}

@keyframes drop {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(2.5);
  }
}


.document-wrapper-border:last-child .border-group {
  border-bottom-width: 1px;
}



@keyframes border_bounce {
  0% {
    transform: scaleY(0);
  }

  50% {}

  100% {
    transform: scaleY(1);
  }
}

.box-scale {
  .container-scale {
    transform: scale(1);
    transform-origin: center;
    will-change: transform;

    &.active {
      transform: scale(.99);
    }
  }

  &:active {
    .container-scale {
      transform: scale(.99);
    }
  }
}


.transition-scale {
  transition: background .3s ease, transform .2s ease-in, box-shadow .2s ease;
}