.document-wrapper-border {
  position: relative;
  z-index: 0;
}

.document-wrapper-border:first-child .border-group {
  border-top-width: 1px;
}

.document-wrapper-border .border-group {
  border-bottom-width: 1px;
  border-style: solid;
  height: calc(100% + 1px);
  transform: translateY(1px);
}

.drop,
.drop-reverse {
  display: block;
  position: absolute;
  border-radium: 100%;
  transform: scale(0);
  pointer-eventm: none;

}

.drop-reverse {
  z-index: 1;
}

.drop.animate {
  background: #34446D;
  animation: drop 1s ease-out;
  animation-fill-mode: forwards;
}

.drop-reverse.animate {
  background: #FFF;
  animation: drop 1s ease-out;
  animation-fill-mode: forwards;
}

@keyframes drop {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(2.5);
  }
}


.document-wrapper-border:last-child .border-group {
  border-bottom-width: 1px;
}



@keyframes border_bounce {
  0% {
    transform: scaleY(0);
  }

  50% {}

  100% {
    transform: scaleY(1);
  }
}

.box-scale {
  .container-scale {
    transform: scale(1);
    transform-origin: center;
    will-change: transform;

    &.active {
      transform: scale(.99);
    }
  }

  &:active {
    .container-scale {
      transform: scale(.99);
    }
  }
}


.transition-scale {
  transition: background .3s ease, transform .2s ease-in, box-shadow .2s ease;
}

.document {
  &__box {
    @apply l:mx-[-23px] mx-[-5px] flex flex-col rounded-[6px] relative;

    &.active {
      @apply hover:bg-[#34446D33] bg-[transparent] ;
    }
  }

  &__border {
    @apply border-[#93969D] absolute bottom-[0] border-group right-[0] left-[0];

    &.active {
      @apply border-[transparent];
    }
  }

  &__navigation {
    @apply rounded-[6px] overflow-hidden h-[70px] text-left box-scale transition-scale active:bg-[#5B6788] l:px-[23px] relative z-[0];

    &:active {
      box-shadow: 2px 2px 4px 0px #000000CC inset, -2px -2px 4px 0px #000000CC inset;
    }

    &-bg.active {
      background-image: url('../../../../images/150.webp');
      background-repeat: repeat;
    }

    &.active {
      @apply bg-[#5B6788];
      border-color: #000 !important;
      box-shadow: 2px 2px 4px 0px #000000CC inset, -2px -2px 4px 0px #000000CC inset;
    }

    &-wrap {
      @apply w-full relative z-[2] gap-[10px] flex items-center justify-between h-full  l:py-[23px] relative;

      &.active {
        @apply text-[#FFF];
      }
    }
  }

  &__desc {
    @apply  translate-y-[-1px] text-[14px] xss:text-[16px] m:text-[20px] transition-all duration-200  tracking-normal;

    &-wrap {
      @apply hidden will-change-transform *:will-change-transform l:w-[40%] l:grid grid-cols-[1fr_1fr_auto] items-center justify-between;
    }
  }

  &__title {
    @apply l:translate-y-[-1px] transition-all duration-200  will-change-transform l:w-[60%] pl-[63px] text-[16px] xss:text-[18px] m:text-[20px] m:font-normal font-light  tracking-normal;
  }

  &__small-img {
    @apply overflow-hidden border border-solid border-[#93969D] rounded-[3px] transition-all duration-100 z-[2] absolute top-1/2 -translate-y-1/2 left-[6px] l:left-[23px];

    &.active {
      @apply translate-y-[100%];
    }
  }

  &__big-img {
    @apply border border-solid border-[#A4A4A4] overflow-hidden rounded-[5px];

    img {
      @apply transition-all duration-200 h-auto;
    }
  }

  &__list {

    &-photo {
      @apply l:w-[60%] xl:gap-0 gap-[20px] max-w-full items-center flex flex-col-reverse l:flex-row l:items-stretch;
    }

    @apply flex gap-[10px] flex-col grow l:max-w-[500px];

    &-wrap {
      @apply l:w-[40%] w-full items-start flex gap-[20px] flex-col   text-[#000];
    }

    &-item {
      @apply flex gap-[10px] flex-col items-start;

      &-ul {
        @apply  pl-[20px] flex flex-col gap-[6px] text-[14px] xss:text-[16px];

        li {
          position: relative;
      
          &::before {
            content: "•";
            position: absolute;
            left: -20px;
            top: -1px;
          }
        }
      }
    }
  }

  &__button {
    @apply justify-center w-full l:flex items-center relative overflow-hidden m:text-[20px] text-[18px] bg-[#34446D] text-[#FFF] tracking-normal l:flex items-center gap-[10px]  rounded-[4px] border-[#34446D] border border-solid ;
  }

  &__hidden {
    @apply transition-all ease-in duration-200 overflow-hidden max-h-0  rounded-b-[6px];

    &.active {
      max-height: 1400px !important;
    }
  }

  &__item {
    @apply flex flex-col items-center l:items-stretch l:flex-row l:gap-[10px] gap-[20px]  p-[20px] ;
    /* l:p-[30px] */
  }
}