.card {
    text-rendering: optimizeLegibility;
    transform-style: preserve-3d;
}

.card-wrap {
    transform: perspective(800px);
    transform-style: preserve-3d;
    z-index: 10;
    will-change: transform;

    img {
        -ms-high-contrast-adjust: none;
        -webkit-user-drag: none;
        width: 100%;
        object-fit: cover;
    }
}