@use 'variables' as *;
@use 'mixins' as *;
@use 'sass:map';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: $font-size--root;
  scrollbar-width: none;
}

:root {
  --color-item-menu: #FFF;
  --mask-menu-item: transparent;
  --cr-white: 0, 0%, 100%;
  --cr-malachite: 133, 79%, 51%;
  --cr-java: 180, 87%, 38%;
  --cr-mirage: 240, 25%, 12%;
}



input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

body {



  margin: 0;
  padding: 0;
  background-color: $bg-primary;
  color: $typography-primary;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  &.overflow {
    overflow: hidden;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }

  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: calc($media-m + 1px)) {
    &::before {
      content: "";
      --opacity: 0.6;
      --bg-image: url('../../images/150.webp');
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: var(--bg-image);
      pointer-events: none;
      opacity: var(--opacity);
    }
  }
}

button {
  cursor: pointer;
  font-family: $font-family;
  font-size: inherit;
  line-height: inherit;
}

input[type='text'],
input[type='email'],
input[type='search'],
input[type='password'],
select,
button,
[type='button'],
[type='reset'],
[type='submit'] {
  appearance: none;
}

.leading-page {
  .wrapper {

    min-width: map.get($wrapper, content-size--min);
    max-width: map.get($wrapper, content-size);
    padding-left: map.get($wrapper, padding-size);
    padding-right: map.get($wrapper, padding-size);


    @media (max-width: $media-xxl) and (min-width: calc($media-xl + 1px)) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (max-width: $media-xl) and (min-width: calc($media-m + 1px)) {
      padding-left: map.get($wrapper, padding-size-m);
      padding-right: map.get($wrapper, padding-size-m);
    }
  }
}

.wrapper {
  height: 100%;
  position: relative;
  width: 100%;
  padding-left: 122px;
  padding-right: 122px;
  max-width: 100%;
  margin: 0 auto;

  @media (min-width: $media-2k) {
    max-width: 1998px;
  }

  @media (max-width: $media-1k) {
    padding-left: 38px;
    padding-right: 38px;
  }

  @media (max-width: $media-xl) {
    padding-left: 26px;
    padding-right: 26px;
  }

}


.main {
  @apply mt-[52px];
  min-height: calc(100vh - 340px);
}




.list-disc {
  li {
      position: relative;

      &::before {
          content: "•";
          position: absolute;
          left: -17px;
          top: -1px;
      }

      &::marker {
          content: "";
          display: none;
      }
  }
}

.section {
  @apply py-[40px] s:py-[75px] relative flex flex-col gap-[20px] s:gap-[50px];


  &__title {
      @apply xxl:text-left text-center;
  }
}