button {
  cursor: pointer;
  font-family: $font-family;
  font-size: inherit;
  line-height: inherit;
}

.main-button-wrap {
  @apply xl:w-[250px] xss:w-[280px] w-[260px] xl:mx-0 mx-auto;
}

.main-button {
  @include btn();
  @apply justify-center w-full m:flex items-center relative overflow-hidden bg-[#34446D] text-[#FFF] m:flex items-center gap-[10px] rounded-[4px] border-[#34446D] border border-solid;
}

.btn-text {
  @include btn();
}

.border-button {
  @apply min-h-[50px] w-full items-center flex justify-between items-center w-full rounded-[4px] border-solid active:bg-[#34446d33] active:border-[#34446D] active:border;

  padding: 10px 11px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  position: relative;

  &.active {
    @apply bg-[#34446d33] border-[#34446D] border;
  }

  &.have-img {
    padding: 5px;
    height: 70px;

    img {
      border-radius: 3px;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(164 164 164);
    }
  }

 



  &::before {
    content: '';
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 5px;
    right: 5px;
    z-index: -1;
    border-bottom: 1px solid #93969d;
  }

  &.first-child::before {
    border-top: 1px solid #93969d;
  }

  &.first-child.m-responsive {
    @media (max-width: $media-m) and (min-width: calc($media-xxs + 1px)) {
      &::before {
        border-top: 0;
      }
    }
  }

}