button {
  cursor: pointer;
  font-family: $font-family;
  font-size: inherit;
  line-height: inherit;
}

.main-button-wrap {
  @apply xl:w-[250px] xss:w-[280px] w-[260px] xl:mx-0 mx-auto;
}

.main-button {
  @include btn();
  @apply justify-center w-full m:flex items-center relative overflow-hidden bg-[#34446D] text-[#FFF] m:flex items-center gap-[10px] rounded-[4px] border-[#34446D] border border-solid;
}

.btn-text {
  @include btn();
}

.border-button {
  @apply min-h-[50px] w-full items-center flex justify-between items-center w-full rounded-[4px] border-solid hover:bg-[#34446d33] hover:border-[#34446D] hover:border;

  padding: 10px 11px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 0;

  &.active {
    box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.8), inset -2px -2px 4px 0 rgba(0, 0, 0, 0.8);
    background: #5b6788;
    color: #fff;
  }

  &.have-img {
    padding: 5px;
    height: 70px;

    img {
      border-radius: 3px;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(164 164 164);
    }
  }





  &::before {
    content: '';
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: 5px;
    right: 5px;
    z-index: -1;
    border-bottom: 1px solid;
    border-color: #93969d;
  }

  &.active::before,
  &:active::before {
    border-color: transparent;
  }

  &.first-child::before {
    border-top: 1px solid;
  }

}