@use './mixins.scss' as mix;

.icon {
  @include mix.mask;
  display: block;
  background-color: currentColor;
  transition: color 0.2s ease-in-out 0s;

  &--burger {
    mask-image: url(../../images/svg/functional/burger.svg);
    -webkit-mask-image: url(../../images/svg/functional/burger.svg);
  }

  &--logo {
    mask-image: url(../../images/logo.svg);
    -webkit-mask-image: url(../../images/logo.svg);
  }

  &--logo-mob {
    mask-image: url(../../images/logo-mob.svg);
    -webkit-mask-image: url(../../images/logo-mob.svg);
  }

  &--catalog {
    mask-image: url(../../images/svg/functional/catalog.svg);
    -webkit-mask-image: url(../../images/svg/functional/catalog.svg);
  }

  &--search {
    mask-image: url(../../images/svg/functional/search.svg);
    -webkit-mask-image: url(../../images/svg/functional/search.svg);
  }

  &--home {
    mask-image: url(../../images/svg/functional/home.svg);
    -webkit-mask-image: url(../../images/svg/functional/home.svg);
  }

  &--arrow-left {
    mask-image: url(../../images/svg/functional/arrow--left.svg);
    -webkit-mask-image: url(../../images/svg/functional/arrow--left.svg);
  }

  &--arrow-right {
    mask-image: url(../../images/svg/functional/arrow--right.svg);
    -webkit-mask-image: url(../../images/svg/functional/arrow--right.svg);
  }

  &--zoom {
    mask-image: url(../../images/svg/functional/zoom.svg);
    -webkit-mask-image: url(../../images/svg/functional/zoom.svg);
  }

  /* &--share {
    mask-image: url(../../images/svg/functional/share.svg);
    -webkit-mask-image: url(../../images/svg/functional/share.svg);
  } */

  &--close {
    mask-image: url(../../images/svg/functional/close--btn.svg);
    -webkit-mask-image: url(../../images/svg/functional/close--btn.svg);
  }

  &--arrow--dropdown {
    mask-image: url(../../images/svg/functional/arrow--dropdown.svg);
    -webkit-mask-image: url(../../images/svg/functional/arrow--dropdown.svg);
  }

  &--clip {
    mask-image: url(../../images/svg/functional/clip.svg);
    -webkit-mask-image: url(../../images/svg/functional/clip.svg);
  }

  &--dots {
    mask-image: url(../../images/svg/functional/loading.svg);
    -webkit-mask-image: url(../../images/svg/functional/loading.svg);
  }

  &--done {
    mask-image: url(../../images/svg/functional/done.svg);
    -webkit-mask-image: url(../../images/svg/functional/done.svg);
  }

  &--download {
      mask-image: url(../../images/svg/functional/download.svg);
      -webkit-mask-image: url(../../images/svg/functional/download.svg);
  }

  &--file {
    mask-image: url(../../images/svg/functional/file.svg);
    -webkit-mask-image: url(../../images/svg/functional/file.svg);
  }

  &-btn-minus {
    mask-image: url(../../images/svg/functional/minus.svg);
    -webkit-mask-image: url(../../images/svg/functional/minus.svg);
  }
  &-btn-plus {
    mask-image: url(../../images/svg/functional/plus.svg);
    -webkit-mask-image: url(../../images/svg/functional/plus.svg);
  }

  /* &--slider-arrow {
		mask-image: url(../../images/svg/functional/slider-arrow.svg);
		-webkit-mask-image: url(../../images/svg/functional/slider-arrow.svg);
	}

	

	

	&--arrow-right {
		mask-image: url(../../images/svg/functional/arrow-right.svg);
		-webkit-mask-image: url(../../images/svg/functional/arrow-right.svg);
	}

	&--retail {
		mask-image: url(../../images/svg/functional/retail.svg);
		-webkit-mask-image: url(../../images/svg/functional/retail.svg);
	}

	&--tooltip {
		mask-image: url(../../images/svg/functional/tooltip.svg);
		-webkit-mask-image: url(../../images/svg/functional/tooltip.svg);
	}

	

	&--grid {
		mask-image: url(../../images/svg/functional/grid.svg);
		-webkit-mask-image: url(../../images/svg/functional/grid.svg);
	}

	&--rows {
		mask-image: url(../../images/svg/functional/rows.svg);
		-webkit-mask-image: url(../../images/svg/functional/rows.svg);
	}

	

	

	

	&--eye-hide {
		mask-image: url(../../images/svg/functional/eye--hide.svg);
		-webkit-mask-image: url(../../images/svg/functional/eye--hide.svg);
	}

	&--eye-show {
		mask-image: url(../../images/svg/functional/eye--show.svg);
		-webkit-mask-image: url(../../images/svg/functional/eye--show.svg);
	}

	&--warning {
		mask-image: url(../../images/svg/functional/warning.svg);
		-webkit-mask-image: url(../../images/svg/functional/warning.svg);
	}

	&--download {
		mask-image: url(../../images/svg/functional/download.svg);
		-webkit-mask-image: url(../../images/svg/functional/download.svg);
	}

	

	

	

	 */
}
