.mtp {
	&__inline-item {
		margin: 0;
		width: 100%;


		&:after, &:before {
			content: '';
			clear: both;
			display: block;
		}

		&--right {
			text-align: left;

			.mtp__inline-img {
				float: right;
				margin-left: 32px;
				margin-right: 0;
				@media (max-width: $media-m) {
					float: none;
					margin: 24px auto 0 auto;
				}
			}
		}
	}

	&__inline-content {
		p {
			margin-top: 0 !important;
		}
	}

	&__inline-header {
		width: 100%;

		h3 {
			margin-top: 0;
			margin-bottom: 8px !important;
		}
	}

	&__inline-img {
		float: left;
		margin-right: 32px;
		margin-bottom: 24px;
		max-width: 304px;
		@media (max-width: $media-m) {
			float: none;
			margin: 24px auto 0 auto;
		}

		img {
			width: 100%;
			display: block;
		}
	}
}
