@keyframes rotateStatusIcon {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.mtp {
  &__spoiler {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 40px;
    @media (max-width: $media-m) {
      margin-top: 24px;
      margin-bottom: 32px;
    }
    @media (max-width: $media-s) {
      margin-top: 16px;
      margin-bottom: 24px;
    }
  }

  &__spoiler-header {
    margin-bottom: 8px;
    width: 100%;

    h2 {
      font-size: 24px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__spoiler-item {
    margin-bottom: 16px;
    border-radius: 16px;

    &.empty {
      .mtp__spoiler-button {
        pointer-events: none;
        &:before {
          background-image: none;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: $typography-primary;
          top: 18px;
          left: 24px;
        }
      }
    }

    &.loading {
      .mtp__spoiler-button {
        color: $typography-primary;
        &:before {
          @include mask;
          -webkit-background-size: cover;
          background-color: $typography-primary;
          mask-image: url('../../../images/svg/loading.svg');
          -webkit-mask-image: url('../../../images/svg/loading.svg');
          animation-name: rotateStatusIcon;
          animation-duration: 1s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          width: 32px;
          height: 32px;
          top: 8px;
          left: 8px;
        }
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    &:not(.active) {
      .mtp__spoiler-item-content {
        display: none;
      }
    }

    &.active {
      background-color: $white-color;

      .mtp__spoiler-item:not(.active) {
        .mtp__spoiler-button {
          &:before {
            background-image: url(../../../images/svg/plus.svg);
          }
        }
      }

      .mtp__spoiler-button {
        &:before {
          background-image: url(../../../images/svg/minus.svg);
        }
      }
    }
  }

  &__spoiler-button {
    display: block;
    position: relative;
    width: 100%;
    cursor: pointer;
    border: none;
    outline: none !important;
    text-align: left;
    padding: 12px 16px 12px 56px;
    font-weight: 500;
    font-family: $font-family-2;
    color: $typography-primary;
    font-size: 16px;
    line-height: 24px;
    background-color: transparent;
    @media (max-width: $media-m) {
      font-size: 14px;
      line-height: 1.4;
      padding: 10px 12px 10px 40px;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 48px;
      height: 48px;
      background-color: $white-color;
      border-radius: 16px;
      background-image: url(../../../images/svg/plus.svg);
      background-position: center;
      background-repeat: no-repeat;
      // @include transition();
      transition: background-image 0.2 ease-in-out 0s;
      @media (max-width: $media-m) {
        width: 36px;
        height: 36px;
        background-size: 50%;
        top: 1px;
      }
    }
  }

  &__spoiler-item-content {
    transition: height 0.35s ease-in-out;
    overflow: hidden;
  }

  &__spoiler-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    
    @media (max-width: $media-m) {
      font-size: 14px;
      line-height: 1.4;
    }
  }
}

.mtp__spoiler-text ul,
.mtp__spoiler-text ol {
  margin-top: 16px;
  padding-left: 32px;
  list-style: none;

  @media (max-width: $media-s) {
    padding-left: 24px;
  }

  li {
    position: relative;
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 16px;
    line-height: 24px;

    @media (max-width: $media-m) {
      font-size: 14px;
      line-height: 1.4;
    }
  }
}

.mtp__spoiler-text ul {
  li {
    display: list-item;
    list-style-type: disc;

    &::marker {
      position: absolute;
      top: 13px;
      width: 6px;
      height: 6px;
      color: $typography-accent;
      border-radius: 50%;
    }
  }
}

.mtp__spoiler-text ol {
  li {
    list-style-type: decimal;
    display: list-item;
    padding-left: 8px;

    &::marker {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;

      @media (max-width: $media-m) {
        //font-weight: 600;
        font-size: 14px;
        line-height: 1.4;
      }
    }
  }
}