.mtp {
	&__slider {
		margin: 40px 0;
		@media (max-width: $media-m) {
			margin-top: 24px;
			margin-bottom: 32px;
		}
		@media (max-width: $media-s) {
			margin-top: 16px;
			margin-bottom: 24px;
		}
	}

	&__slider-header {
		margin-bottom: 24px;
		width: 100%;
		@media (max-width: $media-m) {
			margin-bottom: 16px;
		}

		h2 {
			font-size: 24px;
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	&__slider-main {
		margin-bottom: 16px;
		cursor: zoom-in;

		.mtp__slider-slide {
			picture {
				width: 100%;
				//padding-bottom: 50%;
				position: relative;

				img {
					/*position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					right: 0;
					display: block;
					width: 100%;
					height: 100%;
					object-fit: contain;
					object-position: center;*/
					border-radius: 16px;
				}
			}
		}
	}

	&__slider-nav {
		.mtp__slider-slide {
			opacity: .8;
			border: 1px solid transparent;

			&.swiper-slide-thumb-active {
				opacity: 1;
				border: 1px solid $typography-secondary;
			}

			&--video {
				position: relative;

				&:after {
					width: 32px;
					height: 32px;
					margin-top: -12px;
					margin-left: -12px;
				}
			}
		}

	}

	&__slider-container {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		list-style: none;
		padding: 0 0 32px;
		z-index: 1;
		@media (max-width: $media-s) {
			padding-bottom: 16px;
		}

		&-autoheight {

			.mtp__slider-wrapper {
				align-items: flex-start;
			}

			.mtp__slider-slide {
				height: auto;
			}
		}
	}

	&__slider-wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 1;
		display: flex;
		transition-property: transform, -webkit-transform;
		box-sizing: content-box;
	}

	&__slider-slide {
		flex-shrink: 0;
		width: 100%;
		height: 100%;
		position: relative;
		transition-property: transform, -webkit-transform;

		&--video {
			&:after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				width: 48px;
				height: 48px;
				// background-image: url(~assets/images/svg/video-play.svg);
				background-position: center;
				background-size: contain;
				border-radius: 50%;
				margin-top: -24px;
				margin-left: -24px;
			}
		}
	}

	&__slider-description {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		padding: 24px 16px 16px;
		background-color: rgba(255, 255, 255, .5);
		border-radius: 0 0 5px 5px;
		border: 1px solid $bg-overlay;


		.title {
			margin-bottom: 8px;
			font-size: 16px;
			line-height: 20px;
			font-weight: $font-weight--700;
		}

		.text {
			font-size: 16px;
			line-height: 20px;
			font-weight: $font-weight--400;
			margin-bottom: 0;

			* {
				margin-bottom: 0;
			}
		}

	}

	&__slider-button {
		display: block;
		align-items: center;
		justify-content: center;
		position: absolute;
		z-index: 2;
		top: 50%;
		transform: translateY(-50%);
		width: 40px;
		height: 40px;
		margin-top: -16px;
		outline: none;
		border: none;
		cursor: pointer;
		color: $icon-normal;
		transition: background-color 0.2s ease-in-out 0.1s,
		color 0.2s ease-in-out 0s;
		background: #FFFFFF;
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.06);
		border-radius: 50%;
		@media (max-width: $media-m) {
			width: 32px;
			height: 32px;
		}
		@media (max-width: $media-s) {
			display: none;
		}


		.icon {
			width: 100%;
			height: 100%;
		}


		&::after {
			content: none;
		}

		&--prev {
			left: 16px;

		}

		&--next {
			right: 16px;

		}

		&:hover {
			color: $icon-hover;
			//background-color: $btn-primary-bg-normal;
		}
	}

	.swiper-pagination {
		bottom: -8px;
		@media (max-width: $media-m) {
			bottom: 0;
		}

		&-bullet {
			width: 12px;
			height: 4px;
			border-radius: 2px;
			background-color: $icon-normal;
			opacity: 1;
			transform: scale(1);
			@media (max-width: $media-s) {
				width: 10px;
				height: 3px;
			}

			&-active {
				width: 24px;
				background-color: $icon-accent;
				@media (max-width: $media-s) {
					width: 20px;
				}
			}
		}
	}


}
