.specialists {
	&__title {
		margin: 32px 0 8px !important;
	}

	a {
		color: $typography-primary;
	}

	p {
		margin: 8px 0 !important;
	}

	.search-form {
		max-width: 528px;
		width: 100%;
		margin-top: 32px;
		margin-bottom: 24px;
		position: relative;

		&__input {
			background: rgba(49, 62, 96, 0.03);
			border-radius: 8px;
			padding: 14px 80px 14px 20px;
			width: 100%;
			border: none;

			&::placeholder {
				color: $typography-secondary;
				font-size: 16px;
				line-height: 24px;
				font-family: $font-family;
			}

			&:focus {
				border: none;
				outline: none;
			}
		}

		&__controls {
			display: flex;
			position: absolute;
			align-items: center;
			right: 16px;
			top: 6px;
		}

		&__btn {
			width: 32px;
			height: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: 4px;
			padding: 0;

			.icon {
				width: 20px;
				height: 20px;
				color: $icon-dark;
			}

			&--submit {

			}
		}
	}

	&__list {
		list-style: none !important;
		padding: 0 !important;
		margin: 0;
		column-count: 3;

		@media (max-width: $media-m) {
			column-count: 2;
		}
		@media (max-width: $media-s) {
			column-count: unset;
		}

		&-item {
			list-style-type: none !important;
			font-size: rem(14) !important;
			line-height: rem(20) !important;
			margin-top: 0 !important;
			break-inside: avoid;
		}

	}
}
