@use '../../base/variables' as *;
@use '../../base/mixins' as *;
.modal {

  &__wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;


    &.active {

      opacity: 1;
      visibility: visible;

    }
  }

  &__box {
    margin: 20px;
    max-width: 400px;
    position: relative;
    pointer-events: all;
   

    @media (max-width: $media-s) {
      max-width: 320px;
    }
  }

  &__content {
    width: 100%;
    position: relative;
    background: #f5f5f2;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    max-height: 90vh;


  }

  &__close {
    display: block;
    width: 32px;
    height: 32px;
    color: $icon-normal;

    @include expand-interactive-area(120%);

    .icon--close {
      width: 32px;
      height: 32px;
    }

    &--wrapper {
      position: absolute;
      top: 0;
      right: 0;



      // @media (max-width: $media-m) {
      //   top: -44px;
      //   right: 16px;
      // }
    }
  }

  
}

