@keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10%);
  }
}

.vm--overlay {
  background-color: $bg-overlay !important;
}

.vm--modal {
  height: auto !important;
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 44px 0 0 0;

  @media (max-width: $media-s) {
    padding: 0;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    overflow-y: auto;
    @include scrollbar($theme-border-light, $theme-border);
  }
}

.vm--container {
  overflow-y: auto !important;
  @include scrollbar($theme-border-light, $theme-border);
}

.modal {

  &__wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .3s;
    opacity: 0;
    visibility: hidden;

    &.active {

      opacity: 1;
      visibility: visible;
    }
  }

  &__box {
    max-width: 400px;
    position: relative;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  &__content {
    width: 100%;
    position: relative;
    background: #00000080;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border: 1px solid #737373;
    max-height: 90vh;

    @media (max-width: $media-m) {
    }

    @media (max-width: $media-s) {
      border-radius: 0;
      min-height: 100vh;
      min-height: calc(var(--vh, 1vh) * 100);
      overflow-y: auto;
    }
  }

  &__close {
    display: block;
    width: 32px;
    height: 32px;
    color: $icon-normal;

    @include expand-interactive-area(120%);

    .icon--close {
      width: 32px;
      height: 32px;
    }

    &--wrapper {
      position: absolute;
      top: 0;
      right: 0;

      @media (max-width: $media-s) {
        top: 8px;
        right: 8px;
        z-index: 200;
      }

      // @media (max-width: $media-m) {
      //   top: -44px;
      //   right: 16px;
      // }
    }
  }

  &--hidden[aria-hidden='false'] .modal__overlay {
    animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  &--hidden[aria-hidden='false'] .modal__content {
    animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  &--hidden[aria-hidden='true'] .modal__overlay {
    animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  &--hidden[aria-hidden='true'] .modal__content {
    animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
  }

  &__title {
    margin-bottom: 8px;
    color: $white-color;

    @media (max-width: $media-m) {
      font-size: 20px;
    }
  }

  &__subtitle {
    color: $white-color;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 32px;

    @media (max-width: $media-s) {
      font-size: 12px;
      line-height: 16px;
    }
  }

  .btn--primary {
    margin-top: 16px;
    width: 100%;
    margin-bottom: 16px;
  }
}


.success-message {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0 0 8px 0;
    color: $typography-invert;
  }

  &__subtitle {
    margin: 0;
    color: $typography-invert;
  }

  &__btn {
    width: 100%;
    margin: 56px 0 0 0 !important;
    @include btn--l;
  }
}