*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.\!container {
  width: 100% !important;
}

.container {
  width: 100%;
}

@media (min-width: 360px) {
  .\!container {
    max-width: 360px !important;
  }

  .container {
    max-width: 360px;
  }
}

@media (min-width: 480px) {
  .\!container {
    max-width: 480px !important;
  }

  .container {
    max-width: 480px;
  }
}

@media (min-width: 520px) {
  .\!container {
    max-width: 520px !important;
  }

  .container {
    max-width: 520px;
  }
}

@media (min-width: 640px) {
  .\!container {
    max-width: 640px !important;
  }

  .container {
    max-width: 640px;
  }
}

@media (min-width: 900px) {
  .\!container {
    max-width: 900px !important;
  }

  .container {
    max-width: 900px;
  }
}

@media (min-width: 1024px) {
  .\!container {
    max-width: 1024px !important;
  }

  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1240px) {
  .\!container {
    max-width: 1240px !important;
  }

  .container {
    max-width: 1240px;
  }
}

@media (min-width: 1440px) {
  .\!container {
    max-width: 1440px !important;
  }

  .container {
    max-width: 1440px;
  }
}

@media (min-width: 1580px) {
  .\!container {
    max-width: 1580px !important;
  }

  .container {
    max-width: 1580px;
  }
}

@media (min-width: 1640px) {
  .\!container {
    max-width: 1640px !important;
  }

  .container {
    max-width: 1640px;
  }
}

.pointer-events-none {
  pointer-events: none;
}

.\!visible {
  visibility: visible !important;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.collapse {
  visibility: collapse;
}

.static {
  position: static;
}

.\!fixed {
  position: fixed !important;
}

.fixed {
  position: fixed;
}

.\!absolute {
  position: absolute !important;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.\!sticky {
  position: sticky !important;
}

.sticky {
  position: sticky;
}

.inset-0 {
  inset: 0px;
}

.inset-\[4px\] {
  inset: 4px;
}

.\!right-\[25px\] {
  right: 25px !important;
}

.\!top-\[25px\] {
  top: 25px !important;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-\[-10px\] {
  bottom: -10px;
}

.bottom-\[-73px\] {
  bottom: -73px;
}

.bottom-\[15\%\] {
  bottom: 15%;
}

.bottom-\[30px\] {
  bottom: 30px;
}

.bottom-\[50\%\] {
  bottom: 50%;
}

.end-1 {
  inset-inline-end: 0.25rem;
}

.left-0 {
  left: 0px;
}

.left-1\/2 {
  left: 50%;
}

.left-\[-1px\] {
  left: -1px;
}

.left-\[0\] {
  left: 0;
}

.left-\[20\%\] {
  left: 20%;
}

.left-\[2px\] {
  left: 2px;
}

.left-\[50\%\] {
  left: 50%;
}

.right-0 {
  right: 0px;
}

.right-1\/2 {
  right: 50%;
}

.right-\[-11px\] {
  right: -11px;
}

.right-\[0\] {
  right: 0;
}

.right-\[196px\] {
  right: 196px;
}

.right-\[5\%\] {
  right: 5%;
}

.right-\[58px\] {
  right: 58px;
}

.right-\[5px\] {
  right: 5px;
}

.right-full {
  right: 100%;
}

.start-1 {
  inset-inline-start: 0.25rem;
}

.top-0 {
  top: 0px;
}

.top-1\/2 {
  top: 50%;
}

.top-\[-50px\] {
  top: -50px;
}

.top-\[-8px\] {
  top: -8px;
}

.top-\[-94px\] {
  top: -94px;
}

.top-\[15\%\] {
  top: 15%;
}

.top-\[220px\] {
  top: 220px;
}

.top-\[256px\] {
  top: 256px;
}

.top-\[2px\] {
  top: 2px;
}

.top-\[5px\] {
  top: 5px;
}

.isolate {
  isolation: isolate;
}

.z-10 {
  z-index: 10;
}

.z-50 {
  z-index: 50;
}

.z-\[-1\] {
  z-index: -1;
}

.z-\[0\] {
  z-index: 0;
}

.z-\[1\] {
  z-index: 1;
}

.z-\[3000\] {
  z-index: 3000;
}

.z-\[51\] {
  z-index: 51;
}

.col-start-1 {
  grid-column-start: 1;
}

.col-end-3 {
  grid-column-end: 3;
}

.row-start-2 {
  grid-row-start: 2;
}

.m-0 {
  margin: 0px;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.\!my-\[15px\] {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.-my-\[1\.5\%\] {
  margin-top: -1.5%;
  margin-bottom: -1.5%;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.\!mt-0 {
  margin-top: 0px !important;
}

.mb-\[100px\] {
  margin-bottom: 100px;
}

.mb-\[10px\] {
  margin-bottom: 10px;
}

.ml-\[25px\] {
  margin-left: 25px;
}

.ml-\[30px\] {
  margin-left: 30px;
}

.mt-\[10px\] {
  margin-top: 10px;
}

.mt-\[13px\] {
  margin-top: 13px;
}

.mt-\[15px\] {
  margin-top: 15px;
}

.mt-\[25px\] {
  margin-top: 25px;
}

.mt-\[40px\] {
  margin-top: 40px;
}

.\!block {
  display: block !important;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.\!flex {
  display: flex !important;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.\!table {
  display: table !important;
}

.table {
  display: table;
}

.inline-table {
  display: inline-table;
}

.table-caption {
  display: table-caption;
}

.table-cell {
  display: table-cell;
}

.table-column {
  display: table-column;
}

.table-column-group {
  display: table-column-group;
}

.table-footer-group {
  display: table-footer-group;
}

.table-header-group {
  display: table-header-group;
}

.table-row-group {
  display: table-row-group;
}

.table-row {
  display: table-row;
}

.flow-root {
  display: flow-root;
}

.\!grid {
  display: grid !important;
}

.grid {
  display: grid;
}

.inline-grid {
  display: inline-grid;
}

.\!contents {
  display: contents !important;
}

.contents {
  display: contents;
}

.list-item {
  display: list-item;
}

.\!hidden {
  display: none !important;
}

.hidden {
  display: none;
}

.\!h-\[50px\] {
  height: 50px !important;
}

.\!h-auto {
  height: auto !important;
}

.h-1 {
  height: 0.25rem;
}

.h-\[10px\] {
  height: 10px;
}

.h-\[120px\] {
  height: 120px;
}

.h-\[14px\] {
  height: 14px;
}

.h-\[1px\] {
  height: 1px;
}

.h-\[20px\] {
  height: 20px;
}

.h-\[213px\] {
  height: 213px;
}

.h-\[23px\] {
  height: 23px;
}

.h-\[24px\] {
  height: 24px;
}

.h-\[2px\] {
  height: 2px;
}

.h-\[30px\] {
  height: 30px;
}

.h-\[346px\] {
  height: 346px;
}

.h-\[34px\] {
  height: 34px;
}

.h-\[36px\] {
  height: 36px;
}

.h-\[45px\] {
  height: 45px;
}

.h-\[475px\] {
  height: 475px;
}

.h-\[48px\] {
  height: 48px;
}

.h-\[4px\] {
  height: 4px;
}

.h-\[50px\] {
  height: 50px;
}

.h-\[60px\] {
  height: 60px;
}

.h-\[6px\] {
  height: 6px;
}

.h-\[70px\] {
  height: 70px;
}

.h-\[96px\] {
  height: 96px;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.max-h-0 {
  max-height: 0px;
}

.max-h-\[0px\] {
  max-height: 0px;
}

.max-h-\[2220px\] {
  max-height: 2220px;
}

.max-h-\[350px\] {
  max-height: 350px;
}

.max-h-full {
  max-height: 100%;
}

.\!w-\[250px\] {
  width: 250px !important;
}

.\!w-auto {
  width: auto !important;
}

.w-\[10px\] {
  width: 10px;
}

.w-\[150px\] {
  width: 150px;
}

.w-\[170px\] {
  width: 170px;
}

.w-\[172px\] {
  width: 172px;
}

.w-\[192px\] {
  width: 192px;
}

.w-\[20px\] {
  width: 20px;
}

.w-\[250px\] {
  width: 250px;
}

.w-\[280px\] {
  width: 280px;
}

.w-\[28px\] {
  width: 28px;
}

.w-\[312px\] {
  width: 312px;
}

.w-\[34px\] {
  width: 34px;
}

.w-\[354px\] {
  width: 354px;
}

.w-\[38px\] {
  width: 38px;
}

.w-\[43px\] {
  width: 43px;
}

.w-\[4px\] {
  width: 4px;
}

.w-\[50px\] {
  width: 50px;
}

.w-\[6px\] {
  width: 6px;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.min-w-\[192px\] {
  min-width: 192px;
}

.min-w-\[43px\] {
  min-width: 43px;
}

.min-w-full {
  min-width: 100%;
}

.\!max-w-\[250px\] {
  max-width: 250px !important;
}

.max-w-\[1150px\] {
  max-width: 1150px;
}

.max-w-\[230px\] {
  max-width: 230px;
}

.max-w-\[260px\] {
  max-width: 260px;
}

.max-w-\[280px\] {
  max-width: 280px;
}

.max-w-\[320px\] {
  max-width: 320px;
}

.max-w-full {
  max-width: 100%;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.shrink {
  flex-shrink: 1;
}

.flex-grow {
  flex-grow: 1;
}

.grow {
  flex-grow: 1;
}

.border-collapse {
  border-collapse: collapse;
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-x-\[4px\] {
  --tw-translate-x: -4px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-x-full {
  --tw-translate-x: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-\[10px\] {
  --tw-translate-y: -10px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-0 {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-\[-50\%\] {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-\[140px\] {
  --tw-translate-x: 140px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-\[300px\] {
  --tw-translate-x: 300px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-\[5px\] {
  --tw-translate-x: 5px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-full {
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[-100\%\] {
  --tw-translate-y: -100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[-1000px\] {
  --tw-translate-y: -1000px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[10px\] {
  --tw-translate-y: 10px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-\[1px\] {
  --tw-translate-y: 1px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-full {
  --tw-translate-y: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-rotate-45 {
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-45 {
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-90 {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-\[180deg\] {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-\[45deg\] {
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-\[\.9\] {
  --tw-scale-x: .9;
  --tw-scale-y: .9;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-\[0\.99\] {
  --tw-scale-x: 0.99;
  --tw-scale-y: 0.99;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.\!transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.select-all {
  -webkit-user-select: all;
     -moz-user-select: all;
          user-select: all;
}

.resize {
  resize: both;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.place-items-center {
  place-items: center;
}

.items-start {
  align-items: flex-start;
}

.\!items-center {
  align-items: center !important;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-\[10px\] {
  gap: 10px;
}

.gap-\[16px\] {
  gap: 16px;
}

.gap-\[18px\] {
  gap: 18px;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-\[22px\] {
  gap: 22px;
}

.gap-\[24px\] {
  gap: 24px;
}

.gap-\[2px\] {
  gap: 2px;
}

.gap-\[30px\] {
  gap: 30px;
}

.gap-\[4px\] {
  gap: 4px;
}

.gap-\[5\.5px\] {
  gap: 5.5px;
}

.gap-\[5px\] {
  gap: 5px;
}

.gap-\[6px\] {
  gap: 6px;
}

.gap-\[7px\] {
  gap: 7px;
}

.gap-\[8px\] {
  gap: 8px;
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.justify-self-center {
  justify-self: center;
}

.overflow-hidden {
  overflow: hidden;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.whitespace-pre-line {
  white-space: pre-line;
}

.text-wrap {
  text-wrap: wrap;
}

.break-all {
  word-break: break-all;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-\[1\.8px\] {
  border-radius: 1.8px;
}

.rounded-\[3px\] {
  border-radius: 3px;
}

.rounded-\[4px\] {
  border-radius: 4px;
}

.rounded-\[6px\] {
  border-radius: 6px;
}

.rounded-\[8px\] {
  border-radius: 8px;
}

.rounded-full {
  border-radius: 9999px;
}

.border {
  border-width: 1px;
}

.border-0 {
  border-width: 0px;
}

.border-\[1\.2px\] {
  border-width: 1.2px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-l {
  border-left-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-solid {
  border-style: solid;
}

.\!border-\[\#34446D\] {
  --tw-border-opacity: 1 !important;
  border-color: rgb(52 68 109 / var(--tw-border-opacity, 1)) !important;
}

.\!border-\[\#FF3030\] {
  --tw-border-opacity: 1 !important;
  border-color: rgb(255 48 48 / var(--tw-border-opacity, 1)) !important;
}

.border-\[\#000\] {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
}

.border-\[\#737373\] {
  --tw-border-opacity: 1;
  border-color: rgb(115 115 115 / var(--tw-border-opacity, 1));
}

.border-\[\#93969D\] {
  --tw-border-opacity: 1;
  border-color: rgb(147 150 157 / var(--tw-border-opacity, 1));
}

.border-\[\#93969d80\] {
  border-color: #93969d80;
}

.border-\[\#93969d\] {
  --tw-border-opacity: 1;
  border-color: rgb(147 150 157 / var(--tw-border-opacity, 1));
}

.border-\[\#CCCCCC\] {
  --tw-border-opacity: 1;
  border-color: rgb(204 204 204 / var(--tw-border-opacity, 1));
}

.border-\[\#FFF\] {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.border-\[transparent\] {
  border-color: transparent;
}

.\!bg-\[\#5B6788\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(91 103 136 / var(--tw-bg-opacity, 1)) !important;
}

.\!bg-\[\#5b6788\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(91 103 136 / var(--tw-bg-opacity, 1)) !important;
}

.\!bg-\[\#cccccc\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(204 204 204 / var(--tw-bg-opacity, 1)) !important;
}

.bg-\[\#00000080\] {
  background-color: #00000080;
}

.bg-\[\#000000\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-\[\#333333\] {
  --tw-bg-opacity: 1;
  background-color: rgb(51 51 51 / var(--tw-bg-opacity, 1));
}

.bg-\[\#34446D\] {
  --tw-bg-opacity: 1;
  background-color: rgb(52 68 109 / var(--tw-bg-opacity, 1));
}

.bg-\[\#69D771\] {
  --tw-bg-opacity: 1;
  background-color: rgb(105 215 113 / var(--tw-bg-opacity, 1));
}

.bg-\[\#93969d26\] {
  background-color: #93969d26;
}

.bg-\[\#F5F5F2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 242 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F5F5F580\] {
  background-color: #F5F5F580;
}

.bg-\[\#FFFFFF26\] {
  background-color: #FFFFFF26;
}

.bg-\[transparent\] {
  background-color: transparent;
}

.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(59 130 246 / var(--tw-bg-opacity, 1));
}

.bg-green-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity, 1));
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity, 1));
}

.\!p-\[18px\] {
  padding: 18px !important;
}

.p-1 {
  padding: 0.25rem;
}

.p-4 {
  padding: 1rem;
}

.p-\[10px\] {
  padding: 10px;
}

.p-\[11px\] {
  padding: 11px;
}

.p-\[15px\] {
  padding: 15px;
}

.p-\[30px\] {
  padding: 30px;
}

.p-\[5px\] {
  padding: 5px;
}

.p-\[6px\] {
  padding: 6px;
}

.\!px-\[31\.5px\] {
  padding-left: 31.5px !important;
  padding-right: 31.5px !important;
}

.\!py-\[1px\] {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

.\!py-\[20px\] {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.\!py-\[5px\] {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-\[15px\] {
  padding-left: 15px;
  padding-right: 15px;
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.px-\[6px\] {
  padding-left: 6px;
  padding-right: 6px;
}

.px-\[8px\] {
  padding-left: 8px;
  padding-right: 8px;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-\[20px\] {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-\[25px\] {
  padding-top: 25px;
  padding-bottom: 25px;
}

.py-\[30px\] {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-\[3px\] {
  padding-top: 3px;
  padding-bottom: 3px;
}

.py-\[4px\] {
  padding-top: 4px;
  padding-bottom: 4px;
}

.pb-\[50px\] {
  padding-bottom: 50px;
}

.pb-\[80px\] {
  padding-bottom: 80px;
}

.pl-\[16px\] {
  padding-left: 16px;
}

.pl-\[7px\] {
  padding-left: 7px;
}

.pr-\[17px\] {
  padding-right: 17px;
}

.pr-\[6px\] {
  padding-right: 6px;
}

.pt-\[100px\] {
  padding-top: 100px;
}

.pt-\[60px\] {
  padding-top: 60px;
}

.\!text-left {
  text-align: left !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[44px\] {
  font-size: 44px;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.italic {
  font-style: italic;
}

.ordinal {
  --tw-ordinal: ordinal;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}

.slashed-zero {
  --tw-slashed-zero: slashed-zero;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}

.lining-nums {
  --tw-numeric-figure: lining-nums;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}

.oldstyle-nums {
  --tw-numeric-figure: oldstyle-nums;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}

.proportional-nums {
  --tw-numeric-spacing: proportional-nums;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}

.tabular-nums {
  --tw-numeric-spacing: tabular-nums;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}

.diagonal-fractions {
  --tw-numeric-fraction: diagonal-fractions;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}

.stacked-fractions {
  --tw-numeric-fraction: stacked-fractions;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction);
}

.leading-\[0\.68\] {
  line-height: 0.68;
}

.leading-\[1\.1\] {
  line-height: 1.1;
}

.leading-relaxed {
  line-height: 1.625;
}

.tracking-\[-0\.03em\] {
  letter-spacing: -0.03em;
}

.tracking-\[-0\.04em\] {
  letter-spacing: -0.04em;
}

.tracking-\[-1px\] {
  letter-spacing: -1px;
}

.tracking-normal {
  letter-spacing: 0em;
}

.\!text-\[\#000000\] {
  --tw-text-opacity: 1 !important;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1)) !important;
}

.\!text-\[\#000\] {
  --tw-text-opacity: 1 !important;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1)) !important;
}

.\!text-\[\#34446D\] {
  --tw-text-opacity: 1 !important;
  color: rgb(52 68 109 / var(--tw-text-opacity, 1)) !important;
}

.\!text-\[\#FF3030\] {
  --tw-text-opacity: 1 !important;
  color: rgb(255 48 48 / var(--tw-text-opacity, 1)) !important;
}

.\!text-\[\#FFF\] {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1)) !important;
}

.text-\[\#00000080\] {
  color: #00000080;
}

.text-\[\#000000\] {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-\[\#000\] {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-\[\#69D771\] {
  --tw-text-opacity: 1;
  color: rgb(105 215 113 / var(--tw-text-opacity, 1));
}

.text-\[\#6C6962\] {
  --tw-text-opacity: 1;
  color: rgb(108 105 98 / var(--tw-text-opacity, 1));
}

.text-\[\#93969D\] {
  --tw-text-opacity: 1;
  color: rgb(147 150 157 / var(--tw-text-opacity, 1));
}

.text-\[\#A4A4A4\] {
  --tw-text-opacity: 1;
  color: rgb(164 164 164 / var(--tw-text-opacity, 1));
}

.text-\[\#CBBB92\] {
  --tw-text-opacity: 1;
  color: rgb(203 187 146 / var(--tw-text-opacity, 1));
}

.text-\[\#FFFFFF\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-\[\#FFF\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.underline {
  text-decoration-line: underline;
}

.overline {
  text-decoration-line: overline;
}

.line-through {
  text-decoration-line: line-through;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.subpixel-antialiased {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.opacity-70 {
  opacity: 0.7;
}

.mix-blend-difference {
  mix-blend-mode: difference;
}

.\!shadow-\[2px_2px_4px_0px_\#000000CC_inset\2c -2px_-2px_4px_0px_\#000000CC_inset\] {
  --tw-shadow: 2px 2px 4px 0px #000000CC inset,-2px -2px 4px 0px #000000CC inset !important;
  --tw-shadow-colored: inset 2px 2px 4px 0px var(--tw-shadow-color), inset -2px -2px 4px 0px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline {
  outline-style: solid;
}

.ring {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.blur {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur-sm {
  --tw-blur: blur(4px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.drop-shadow {
  --tw-drop-shadow: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.grayscale {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.\!invert {
  --tw-invert: invert(100%) !important;
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important;
}

.invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.sepia {
  --tw-sepia: sepia(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.\!filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important;
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.\!backdrop-blur-\[20px\] {
  --tw-backdrop-blur: blur(20px) !important;
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) !important;
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia) !important;
}

.backdrop-blur-\[20px\] {
  --tw-backdrop-blur: blur(20px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.backdrop-blur-\[4px\] {
  --tw-backdrop-blur: blur(4px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.backdrop-filter {
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.\!backdrop-filter-none {
  -webkit-backdrop-filter: none !important;
  backdrop-filter: none !important;
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-100 {
  transition-duration: 100ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.ease-in {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.will-change-transform {
  will-change: transform;
}

.\[key\:string\] {
  key: string;
}

.\*\:bg-black > * {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.\*\:bg-white > * {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.\*\:fill-\[\#000\] > * {
  fill: #000;
}

.\*\:fill-white > * {
  fill: #fff;
}

.\*\:stroke-\[\#34446D\] > * {
  stroke: #34446D;
}

.\*\:stroke-\[\#FFF\] > * {
  stroke: #FFF;
}

.\*\:transition-all > * {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.before\:absolute::before {
  content: var(--tw-content);
  position: absolute;
}

.before\:bottom-\[-2\.4px\]::before {
  content: var(--tw-content);
  bottom: -2.4px;
}

.before\:left-\[-2\.4px\]::before {
  content: var(--tw-content);
  left: -2.4px;
}

.before\:right-\[-2\.4px\]::before {
  content: var(--tw-content);
  right: -2.4px;
}

.before\:top-\[-2\.4px\]::before {
  content: var(--tw-content);
  top: -2.4px;
}

.before\:z-\[-1\]::before {
  content: var(--tw-content);
  z-index: -1;
}

.before\:content-\[\'\'\]::before {
  --tw-content: '';
  content: var(--tw-content);
}

.hover\:border-\[\#34446D\]:hover {
  --tw-border-opacity: 1;
  border-color: rgb(52 68 109 / var(--tw-border-opacity, 1));
}

.hover\:border-\[\#fff\]:hover {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.hover\:bg-\[\#34446d33\]:hover {
  background-color: #34446d33;
}

.hover\:bg-\[\#F3F3F3\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 243 243 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#F5F5F2\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 242 / var(--tw-bg-opacity, 1));
}

.hover\:bg-blue-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1));
}

.hover\:bg-green-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(22 163 74 / var(--tw-bg-opacity, 1));
}

.hover\:bg-red-600:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity, 1));
}

.hover\:text-\[\#34446D\]:hover {
  --tw-text-opacity: 1;
  color: rgb(52 68 109 / var(--tw-text-opacity, 1));
}

.active\:scale-95:active {
  --tw-scale-x: .95;
  --tw-scale-y: .95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.active\:scale-\[\.95\]:active {
  --tw-scale-x: .95;
  --tw-scale-y: .95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.active\:scale-\[\.9\]:active {
  --tw-scale-x: .9;
  --tw-scale-y: .9;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.active\:scale-\[0\.92\]:active {
  --tw-scale-x: 0.92;
  --tw-scale-y: 0.92;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.active\:scale-\[0\.95\]:active {
  --tw-scale-x: 0.95;
  --tw-scale-y: 0.95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.active\:scale-\[0\.9\]:active {
  --tw-scale-x: 0.9;
  --tw-scale-y: 0.9;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.active\:bg-\[\#5B6788\]:active {
  --tw-bg-opacity: 1;
  background-color: rgb(91 103 136 / var(--tw-bg-opacity, 1));
}

.active\:shadow-\[2px_2px_4px_0px_\#000000CC_inset\2c -2px_-2px_4px_0px_\#000000CC_inset\]:active {
  --tw-shadow: 2px 2px 4px 0px #000000CC inset,-2px -2px 4px 0px #000000CC inset;
  --tw-shadow-colored: inset 2px 2px 4px 0px var(--tw-shadow-color), inset -2px -2px 4px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.group:hover .group-hover\:left-\[16px\] {
  left: 16px;
}

.group:hover .group-hover\:mr-3 {
  margin-right: 0.75rem;
}

.group\/main:hover .group-hover\/main\:translate-x-0 {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:translate-x-0 {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:translate-x-\[16px\] {
  --tw-translate-x: 16px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group\/main:hover .group-hover\/main\:\!border-\[transparent\] {
  border-color: transparent !important;
}

.group\/main:hover .group-hover\/main\:border-\[\#34446D\] {
  --tw-border-opacity: 1;
  border-color: rgb(52 68 109 / var(--tw-border-opacity, 1));
}

.group:hover .group-hover\:bg-\[\#CCCCCC\] {
  --tw-bg-opacity: 1;
  background-color: rgb(204 204 204 / var(--tw-bg-opacity, 1));
}

.group:hover .group-hover\:fill-\[\#FFF\] {
  fill: #FFF;
}

.group:hover .group-hover\:text-\[\#34446D\] {
  --tw-text-opacity: 1;
  color: rgb(52 68 109 / var(--tw-text-opacity, 1));
}

.group:hover .group-hover\:text-\[\#CBBB9233\] {
  color: #CBBB9233;
}

.group:hover .group-hover\:text-\[\#CCCCCC\] {
  --tw-text-opacity: 1;
  color: rgb(204 204 204 / var(--tw-text-opacity, 1));
}

.group:hover .group-hover\:\*\:\*\:stroke-\[\#34446D\] > * > * {
  stroke: #34446D;
}

.group:active .group-active\:block {
  display: block;
}

.group:active .group-active\:scale-\[\.9\] {
  --tw-scale-x: .9;
  --tw-scale-y: .9;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:active .group-active\:scale-\[0\.99\] {
  --tw-scale-x: 0.99;
  --tw-scale-y: 0.99;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:active .group-active\:scale-\[0\.9\] {
  --tw-scale-x: 0.9;
  --tw-scale-y: 0.9;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group\/main:active .group-active\/main\:\!border-\[transparent\] {
  border-color: transparent !important;
}

.group\/window:active .group-active\/window\:text-\[\#FFF\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.group:active .group-active\:text-\[\#FFF\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.group:active .group-active\:duration-\[0\] {
  transition-duration: 0;
}

.group:active .group-active\:\*\:fill-\[\#000\] > * {
  fill: #000;
}

.peer:checked ~ .peer-checked\:border-\[\#34C759\] {
  --tw-border-opacity: 1;
  border-color: rgb(52 199 89 / var(--tw-border-opacity, 1));
}

.peer:checked ~ .peer-checked\:bg-\[\#21262F\] {
  --tw-bg-opacity: 1;
  background-color: rgb(33 38 47 / var(--tw-bg-opacity, 1));
}

.peer:checked ~ .peer-checked\:text-\[\#000\] {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.peer:checked ~ .peer-checked\:\*\:block > * {
  display: block;
}

.peer:active ~ .peer-active\:scale-\[0\.95\] {
  --tw-scale-x: 0.95;
  --tw-scale-y: 0.95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (min-width: 360px) {
  .xss\:max-w-\[280px\] {
    max-width: 280px;
  }
}

@media (min-width: 520px) {
  .s\:right-\[20px\] {
    right: 20px;
  }

  .s\:top-\[20px\] {
    top: 20px;
  }

  .s\:mt-\[24px\] {
    margin-top: 24px;
  }

  .s\:block {
    display: block;
  }

  .s\:hidden {
    display: none;
  }

  .s\:h-\[113px\] {
    height: 113px;
  }

  .s\:h-\[590px\] {
    height: 590px;
  }

  .s\:w-auto {
    width: auto;
  }

  .s\:max-w-\[400px\] {
    max-width: 400px;
  }

  .s\:justify-start {
    justify-content: flex-start;
  }

  .s\:gap-\[20px\] {
    gap: 20px;
  }

  .s\:gap-\[30px\] {
    gap: 30px;
  }

  .s\:gap-\[44px\] {
    gap: 44px;
  }

  .s\:gap-\[6px\] {
    gap: 6px;
  }

  .s\:p-\[40px\] {
    padding: 40px;
  }

  .s\:p-\[5px\] {
    padding: 5px;
  }

  .s\:pl-\[10px\] {
    padding-left: 10px;
  }

  .s\:text-\[16px\] {
    font-size: 16px;
  }
}

@media (min-width: 640px) {
  .xxs\:bottom-\[-55px\] {
    bottom: -55px;
  }

  .xxs\:right-\[34px\] {
    right: 34px;
  }

  .xxs\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .xxs\:block {
    display: block;
  }

  .xxs\:flex {
    display: flex;
  }

  .xxs\:grid {
    display: grid;
  }

  .xxs\:\!hidden {
    display: none !important;
  }

  .xxs\:\!h-\[35px\] {
    height: 35px !important;
  }

  .xxs\:h-\[135px\] {
    height: 135px;
  }

  .xxs\:h-\[23px\] {
    height: 23px;
  }

  .xxs\:w-auto {
    width: auto;
  }

  .xxs\:max-w-full {
    max-width: 100%;
  }

  .xxs\:translate-x-0 {
    --tw-translate-x: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .xxs\:flex-row {
    flex-direction: row;
  }

  .xxs\:justify-start {
    justify-content: flex-start;
  }

  .xxs\:justify-between {
    justify-content: space-between;
  }

  .xxs\:gap-\[62px\] {
    gap: 62px;
  }

  .xxs\:text-\[18px\] {
    font-size: 18px;
  }

  .xxs\:text-\[20px\] {
    font-size: 20px;
  }

  .xxs\:\*\:fill-black > * {
    fill: #000;
  }
}

@media (min-width: 900px) {
  .m\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .m\:block {
    display: block;
  }

  .m\:w-\[250px\] {
    width: 250px;
  }

  .m\:w-full {
    width: 100%;
  }

  .m\:\!flex-row {
    flex-direction: row !important;
  }

  .m\:justify-start {
    justify-content: flex-start;
  }

  .m\:justify-between {
    justify-content: space-between;
  }

  .m\:gap-\[113px\] {
    gap: 113px;
  }

  .m\:gap-\[208px\] {
    gap: 208px;
  }

  .m\:pb-\[100px\] {
    padding-bottom: 100px;
  }

  .m\:text-\[20px\] {
    font-size: 20px;
  }

  .m\:text-\[32px\] {
    font-size: 32px;
  }

  .m\:text-\[40px\] {
    font-size: 40px;
  }
}

@media (min-width: 1024px) {
  .l\:gap-\[110px\] {
    gap: 110px;
  }

  .l\:gap-\[40px\] {
    gap: 40px;
  }

  .l\:pr-\[23px\] {
    padding-right: 23px;
  }

  .group:hover .l\:group-hover\:text-\[50px\] {
    font-size: 50px;
  }
}

@media (min-width: 1240px) {
  .xl\:\!relative {
    position: relative !important;
  }

  .xl\:bottom-0 {
    bottom: 0px;
  }

  .xl\:right-0 {
    right: 0px;
  }

  .xl\:row-start-auto {
    grid-row-start: auto;
  }

  .xl\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .xl\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }

  .xl\:ml-\[35px\] {
    margin-left: 35px;
  }

  .xl\:block {
    display: block;
  }

  .xl\:\!flex {
    display: flex !important;
  }

  .xl\:flex {
    display: flex;
  }

  .xl\:\!hidden {
    display: none !important;
  }

  .xl\:hidden {
    display: none;
  }

  .xl\:\!h-\[35px\] {
    height: 35px !important;
  }

  .xl\:h-auto {
    height: auto;
  }

  .xl\:w-auto {
    width: auto;
  }

  .xl\:grow-0 {
    flex-grow: 0;
  }

  .xl\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .xl\:items-end {
    align-items: flex-end;
  }

  .xl\:justify-between {
    justify-content: space-between;
  }

  .xl\:\!gap-\[0px\] {
    gap: 0px !important;
  }

  .xl\:\!text-\[24px\] {
    font-size: 24px !important;
  }

  .xl\:\!text-\[48px\] {
    font-size: 48px !important;
  }

  .xl\:text-\[18px\] {
    font-size: 18px;
  }

  .xl\:opacity-0 {
    opacity: 0;
  }
}

@media (min-width: 1440px) {
  .xxl\:gap-\[30px\] {
    gap: 30px;
  }

  .xxl\:pl-\[5px\] {
    padding-left: 5px;
  }
}

@media (min-width: 1580px) {
  .xxxl\:hidden {
    display: none;
  }

  .xxxl\:gap-\[10px\] {
    gap: 10px;
  }

  .xxxl\:gap-\[30px\] {
    gap: 30px;
  }

  .xxxl\:border-\[\#333333\] {
    --tw-border-opacity: 1;
    border-color: rgb(51 51 51 / var(--tw-border-opacity, 1));
  }

  .xxxl\:bg-\[\#0A0A0D\] {
    --tw-bg-opacity: 1;
    background-color: rgb(10 10 13 / var(--tw-bg-opacity, 1));
  }

  .xxxl\:pr-\[25px\] {
    padding-right: 25px;
  }
}

@media (min-width: 1640px) {
  .xxxxl\:mt-0 {
    margin-top: 0px;
  }

  .xxxxl\:grid {
    display: grid;
  }

  .xxxxl\:max-h-\[100\%\] {
    max-height: 100%;
  }

  .xxxxl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .xxxxl\:\!flex-row {
    flex-direction: row !important;
  }

  .xxxxl\:items-center {
    align-items: center;
  }
}

@media (max-width: 1239px) {
  .max-xl\:\!border-\[\#93969D\] {
    --tw-border-opacity: 1 !important;
    border-color: rgb(147 150 157 / var(--tw-border-opacity, 1)) !important;
  }

  .max-xl\:\!bg-\[\#F5F5F2\] {
    --tw-bg-opacity: 1 !important;
    background-color: rgb(245 245 242 / var(--tw-bg-opacity, 1)) !important;
  }
}