.menu-item {

  align-items: center;
  color: var(--color-item-menu);
  display: flex;
  flex: 1 0 auto;
  font-size: 18px;
  font-weight: 400;
  justify-content: center;
  line-height: 19px;
  overflow: visible;
  position: relative;
  text-align: center;
  transition: transform 0.2s ease, color 0.3s ease, stroke 0.3s ease;
  border-radius: 4px;
  padding: 10px 15px;
  height: 36px;
  will-change: transform, color, border-color, opacity;
  background: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  box-shadow: 0 0 0px 0.5px transparent;
}

.menu-item-active span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: color 0.3s ease;
  will-change: color;
  color: var(--color-item-menu-active);
}

.menu-item:hover {
  color: var(--color-item-menu-active);
  /* outline: 0.5px solid var(--menu-item-border-hover); */
  box-shadow: 0 0 0px 1px var(--menu-item-border-hover);

}

.menu-item::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: var(--menu-item-border-w) solid var(--menu-item-border);
  border-radius: 4px;
  background: radial-gradient(150px circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
      rgba(255, 255, 255, var(--menu-item-opacity-light)),
      transparent 60%);
  mask-image: radial-gradient(150px circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
      white,
      transparent 60%);
  -webkit-mask-image: radial-gradient(150px circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
      white,
      transparent 60%);
  opacity: 0;
  pointer-events: none;
  mask-composite: intersect;
  -webkit-mask-composite: destination-in;
}

.menu-item:hover::after,
.menu-item-active::after {
  opacity: 1;
}

.highlight {
  background: radial-gradient(250px circle at var(--mouse-x) var(--mouse-y),
      #c7c7c714,
      transparent 30%);
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.3s ease;
  width: 100%;
  z-index: 20;
  will-change: opacity;
  pointer-events: none;
}



.menu-item-active:active {
  color: var(--color-item-menu-active);
}

.menu-item-active .highlight {
  background: radial-gradient(250px circle at var(--last-mouse-x, var(--click-x, 50%)) var(--last-mouse-y, var(--click-y, 50%)),
      #c7c7c714,
      transparent 30%);
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.3s ease;
  width: 100%;
  z-index: 20;
  will-change: opacity;
  pointer-events: none;
}

.menu-item-active::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: var(--menu-item-border-w) solid var(--menu-item-border);
  border-radius: 4px;
  background: radial-gradient(150px circle at var(--last-mouse-x, var(--click-x, 50%)) var(--last-mouse-y, var(--click-y, 50%)),
      rgba(255, 255, 255, var(--menu-item-opacity-light)),
      transparent 60%);
  mask-image: radial-gradient(150px circle at var(--last-mouse-x, var(--click-x, 50%)) var(--last-mouse-y, var(--click-y, 50%)),
      white,
      transparent 60%);
  -webkit-mask-image: radial-gradient(150px circle at var(--last-mouse-x, var(--click-x, 50%)) var(--last-mouse-y, var(--click-y, 50%)),
      white,
      transparent 60%);
  opacity: 0;
  pointer-events: none;
}

.menu-item-active:hover .highlight {
  background: radial-gradient(250px circle at var(--mouse-x, var(--last-mouse-x, var(--click-x, 50%))) var(--mouse-y, var(--last-mouse-y, var(--click-y, 50%))),
      #c7c7c714,
      transparent 30%);
  opacity: 1;
}

.menu-item:active,
.menu-item.fast-click {
  transform: scale(0.95);
  transform-origin: center;
  will-change: transform, color, border-color;
  transition: transform 0.2s ease, border-color 0.3s ease;
  color: var(--color-item-menu-active);
  border-color: var(--color-item-menu-active);
  background: none;
  box-shadow: none;
}

.menu-item:active::after,
.menu-item.fast-click::after {
  border-color: var(--color-item-menu-active);
  transition: border-color 0.3s ease;
  opacity: 1;
}

.menu-item-active:active,
.menu-item-active.fast-click {
  transform: scale(0.95);
  transform-origin: center;
  will-change: transform, color, border-color;
  transition: transform 0.2s ease, color 0.3s ease, border-color 0.3s ease;
  color: var(--color-item-menu-active) !important;
  border-color: var(--color-item-menu-active);
  background: none;
  box-shadow: none;
}

.menu-item-active:active span,
.menu-item-active.fast-click span {
  color: var(--color-item-menu-active) !important;
  transition: color 0.3s ease, -webkit-text-fill-color 0.3s ease;
  will-change: color, -webkit-text-fill-color;
  background: none !important;
  -webkit-background-clip: none !important;
  background-clip: none !important;
  -webkit-text-fill-color: var(--color-item-menu-active) !important;
}

.menu-item-active:active::before,
.menu-item-active.fast-click::before {
  color: var(--color-item-menu-active) !important;
  transition: color 0.3s ease, -webkit-text-fill-color 0.3s ease;
  will-change: color, -webkit-text-fill-color;
  background: none !important;
  -webkit-background-clip: none !important;
  background-clip: none !important;
  -webkit-text-fill-color: var(--color-item-menu-active) !important;
}

.menu-item-active:active::after,
.menu-item-active.fast-click::after {
  border-color: var(--color-item-menu-active);
  transition: border-color 0.3s ease;
  opacity: 1;
}

.menu-item-active:hover {
  color: var(--color-item-menu-active);
}