.menu-item {
  -webkit-background-clip: text;
  align-items: center;
  color: var(--color-item-menu);
  display: flex;
  flex: 1 0 auto;
  font-size: 18px;
  font-weight: 400;
  justify-content: center;
  line-height: 19px;
  overflow: visible;
  position: relative;
  text-align: center;
  transition: transform 0.2s ease, color 0.15s ease, stroke 0.15s ease;
  border-radius: 4px;
  padding: 10px 15px;
  height: 35px;
  will-change: transform, color, border-color, opacity;
  background: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-item-active span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: color 0.15s ease;
  will-change: color;
  color: var(--color-item-menu-active);
}

.menu-item:hover {
  color: var(--color-item-menu-active);
}

.menu-item::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 4px;
  padding: 1px;

  background: radial-gradient(80px circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
      var(--menu-item-border),
      black 100%);
      
  opacity: 0;

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;

}

.menu-item:hover::after {
  opacity: 1;
}

.menu-item:active::after {
  background: #000;
}








.menu-item-active:active {
  color: var(--color-item-menu-active);
}

.menu-item-active:after {
  opacity: 1;
  background: #000;
}

.menu-item-active:hover:after {
  background: radial-gradient(80px circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
      var(--menu-item-border),
      black 100%);
}








.menu-item:active,
.menu-item.fast-click {
  transform: scale(0.95);
  transform-origin: center;
  will-change: transform, color, border-color;
  transition: transform 0.2s ease, border-color 0.3s ease;
  color: var(--color-item-menu-active);
  background: none;
  box-shadow: none;

}



.menu-item-active:active,
.menu-item-active.fast-click {
  transform: scale(0.95);
  transform-origin: center;
  will-change: transform, color, border-color;
  transition: transform 0.2s ease, color 0.15s ease, border-color 0.3s ease;
  color: var(--color-item-menu-active) !important;
  background: none;
  box-shadow: none;
}

.menu-item-active:active span,
.menu-item-active.fast-click span {
  color: var(--color-item-menu-active) !important;
  transition: color 0.15s ease, -webkit-text-fill-color 0.15s ease;
  will-change: color, -webkit-text-fill-color;
  background: none !important;
  -webkit-background-clip: none !important;
  background-clip: none !important;
  -webkit-text-fill-color: var(--color-item-menu-active) !important;
}



.menu-item-active:active::after,
.menu-item-active.fast-click::after {
  transition: border-color 0.3s ease;
  opacity: 1;
}

.menu-item-active:hover {
  color: var(--color-item-menu-active);
}