@use "@/shared/styles/tokens" as *;

.menu-item {
  -webkit-background-clip: text;
  align-items: center;
  color: $color-item-menu;
  display: flex;
  font-size: 18px;
  font-weight: 300;
  justify-content: space-between;
  overflow: visible;
  position: relative;
  text-align: center;
  transition: transform 0.1s ease, color 0.15s ease, stroke 0.15s ease;
  border-radius: 4px;
  padding: 10px 15px;
  height: 35px;
  will-change: transform, color, border-color, opacity;
  background: none;
  overflow: hidden;
  border: 1px solid transparent;

  @media (min-width: 620px) {
    white-space: nowrap;
  }
}

.menu-item-active span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: color 0.15s ease;
  will-change: color;
  color: $color-item-menu;
}

.menu-item:hover {
  color: $color-item-menu;
  border-color: $color-item-menu;
}

.menu-item-active:active {
  color: #fff;
}

.menu-item-active {
  border-color: #fff;
}

.menu-item:active,
.menu-item.fast-click {
  transform: scale(0.95);
  transform-origin: center;
  will-change: transform, color, border-color;
  transition: transform 0.2s ease, border-color 0.3s ease;
  color: $color-item-menu;
  background: none;
  box-shadow: none;
}

.menu-item-active:active,
.menu-item-active.fast-click {
  transform: scale(0.95);
  transform-origin: center;
  will-change: transform, color, border-color;
  transition: transform 0.2s ease, color 0.15s ease, border-color 0.3s ease;
  color: $color-item-menu !important;
  background: none;
  box-shadow: none;
}

.menu-item-active:active span,
.menu-item-active.fast-click span {
  color: $color-item-menu !important;
  transition: color 0.15s ease, -webkit-text-fill-color 0.15s ease;
  will-change: color, -webkit-text-fill-color;
  background: none !important;
  -webkit-background-clip: none !important;
  background-clip: none !important;
  -webkit-text-fill-color: $color-item-menu !important;
}

.menu-item-active:hover {
  color: $color-item-menu;
  border-color: $color-item-menu;
}
