@import '../../base/variables';
@import '../../base/mixins';

.document-content-wrapper {
  @apply flex flex-col gap-[10px] w-full;
}

.document-actions-mobile {
  @apply  w-[280px] m:mx-0 mx-auto m:w-[250px];
}

.document-mobile-info {
  @apply flex gap-[10px];
}

.document-info-item {
  @apply flex flex-col gap-[5px] items-center;
}

.document-info-label {
  @include text-5;
  @apply text-[#00000080];
}

.document-info-value {
  @include text-1;
}

.document-photo-container {
  @apply m:m-0 m-auto transition-all duration-100 active:scale-[0.95] cursor-pointer flex-shrink-0 ;
}

.document-photo-wrapper {
  @apply grow flex justify-center xl:w-auto m:w-[310px] w-full;
}

.document-content-column {
  @apply flex flex-col justify-between items-start;
}

.document-text-content {
  @apply  flex flex-col gap-[40px];
}

.document-description {
  @include text-2;
  @apply text-[#000000];
}

.document-desktop-actions {
  @apply  w-[280px] m:mx-0 mx-auto m:w-[250px];
}

.document-list-actions {
  @apply  w-[280px] m:mx-0 mx-auto m:w-[250px];
}

.document-list-show-button {
  @include text-2;
  @apply text-[#34446D] font-normal text-left inline-flex gap-[10px];
}




