@use '../../base/variables' as varibles;

.skills {
    &__wrapper {
        @apply flex flex-col;

        &-desc {
            @apply xxl:text-[18px] text-[16px] leading-[1.5] mt-[30px];
        }

        &-move {
            @apply flex items-center gap-[8px] mt-[28px];

            span {
                @apply text-[#34446D] text-[18px];
            }
        }
    }
    &__box {
        @apply flex xxl:grid grid-cols-4 gap-[20px];

        @media (max-width: varibles.$media-xxl) {
            width: 1020px;
            margin: 0 auto;
            overflow: hidden;
          }

          @media (max-width: varibles.$media-xl) {
            width: 660px;
          }

        @media (max-width: varibles.$media-m) {
            width: calc(100% + 40px) !important;
            margin: 0 -20px !important;
            overflow: visible !important;

          }

          
    }
}
