.cloneable {
  @apply l:h-[447px] h-[710px];
  padding: var(--container-padding);
  justify-content: end;
  align-items: end;
  display: flex;
  position: relative;
  font-size: 1.1vw;
}

.overlay {
  @apply l:w-[642px] w-full p-[30px] pr-[76px] relative z-[0] rounded-[8px] border border-solid border-[#34446D] overflow-hidden;
  z-index: 2;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  display: flex;
  position: absolute;
  inset: 0% auto 0% 0%;
  background: linear-gradient(270deg, rgba(245, 245, 245, 0) 0%, #FFF 76px);

}

.count-column {
  height: 40px;
}

.count-heading {

  font-weight: 300;
  line-height: 1;
  color: #34446D;
  font-size: 40px;
  font-weight: 300;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -3%;
  text-align: right;
  vertical-align: middle;


}


.slider-wrap {
  justify-content: flex-start;
  padding-top: 31px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.slider-list {
  flex-flow: row;
  gap: 75px;
  justify-content: flex-end;
  align-items: stretch;
  display: flex;
  position: relative;
  transform: translateX(638px);
  padding-left: 75px;
}

.slider-slide {
  flex: none;
  position: relative;
}



.slide-inner {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}


.slide-main {
  width: 100%;
  position: absolute;
  overflow: hidden;
}



.caption-dot {
  background-color: var(--color-dark);
  border-radius: 10em;
  flex: none;
  width: .5em;
  height: .5em;
}


.overlay-slider {
  @apply absolute top-0 right-[76px] left-0 bottom-0 z-[-2] transition-all duration-300;
  background: url(../../../images/svg/functional/bg-slider.svg);
  background-size: cover;
  backdrop-filter: blur(1px);

  &-window {
    @apply absolute z-[6] h-[50px] rounded-[4px] w-full border-[#34446D] border-solid border;
  }

  &-box {
    @apply flex flex-col justify-between h-full l:items-start items-center w-full;
  }
}

.wrapper-slide {
  overflow: hidden;

  .animate {
    animation: slideIn 0.6s ease-out forwards;
  }
  


  &.wrapper-slide4 {

    pointer-events: all;
    width: 100%;

    .slider {
      width: 100%;
    }
  }

  &.wrapper-slide3 {
    left: 20%;

    .slider {
      left: -100%;
    }
  }

  &.wrapper-slide2 {
    left: 40%;

    .slider {
      left: -200%;
    }
  }

  &.wrapper-slide1 {
    left: 60%;

    .slider {
      left: -300%;

    }
  }

  &.wrapper-slide0 {
    left: 80%;

    .slider {
      left: -400%;

    }
  }

  .slider {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    position: relative;
  }
}


.sliders {
  &__button {
    @apply justify-center m:flex items-center px-[16px] py-[9px] relative overflow-hidden border-[#34446D] border border-solid text-[20px] transition-all duration-300 font-bold tracking-normal gap-[6px] text-[#34446D] hover:text-[#FFF] rounded-[4px] hover:bg-[#34446D] leading-[1];

  }

  &__h2 {
    @apply leading-[1] tracking-[-0.04em] text-center text-[24px] xs:text-[40px] l:text-[56px]
  }
}

  /* Определение анимации slideIn */
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }