@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.skills {
    &__wrapper {
        @apply flex flex-col;

        &-desc {
            @include text-4;
            max-width: 1060px;
            @apply mt-[30px] font-light;
        }

        &-move {
            @apply flex items-center gap-[8px] mt-[28px];

            span {
                @apply text-[#34446D] text-[18px];
            }
        }
    }
    &__box {
        @apply flex xxl:grid grid-cols-4 gap-[20px];

        @media (max-width: $media-xxl) {
            width: 1002px;
            margin: 0 auto;
            overflow: hidden;
          }

          @media (max-width: $media-l) {
            width: 660px;
          }

        @media (max-width: $media-m) {
            width: 100%;
    
            overflow: visible !important;

          }

          
    }
}
