@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.skills {
    &__wrapper {
        @apply flex flex-col;

        &-desc {
            @include text-4;
            max-width: 1060px;
            @apply mt-[30px] font-light;
        }

        &-move {
            @apply flex items-center gap-[8px] mt-[28px];

            span {
                @apply text-[#34446D] text-[18px];
            }
        }
    }

    &__box {
        @apply flex xxl:grid grid-cols-4 gap-[20px];

        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            "a b . c"
            ". d e ."
            "f g . h";
        gap: 20px;

        .slide-skill:nth-child(1) {
            grid-area: a;
        }

        .slide-skill:nth-child(2) {
            grid-area: b;
        }

        .slide-skill:nth-child(3) {
            grid-area: c;
        }

        .slide-skill:nth-child(4) {
            grid-area: d;
        }

        .slide-skill:nth-child(5) {
            grid-area: e;
        }

        .slide-skill:nth-child(6) {
            grid-area: f;
        }

        .slide-skill:nth-child(7) {
            grid-area: g;
        }

        .slide-skill:nth-child(8) {
            grid-area: h;
        }

        .slide-skill:nth-child(9) {
            grid-area: i;
        }

        .slide-skill:nth-child(10) {
            grid-area: j;
        }

        .slide-skill:nth-child(11) {
            grid-area: k;
        }

        .slide-skill:nth-child(12) {
            grid-area: l;
        }

        @media (max-width: $media-xxl) {
            width: 1002px;
            margin: 0 auto;
            overflow: hidden;
        }

        @media (max-width: $media-l) {
            width: 660px;
        }

        @media (max-width: $media-m) {
            width: 100%;

            overflow: visible !important;

        }


    }
}