@use '../../base/variables' as varibles;
@use '../../base/mixins' as mixins;

.mainBanner {

  position: relative;
  z-index: 0;

  padding-top: 40px;
  padding-bottom: 40px;
}

.mainBannerTitle {


  width: 100%;
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
  color: #000;

  @media (max-width: varibles.$media-xl) {}
}

.mainBannerContent {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (max-width: varibles.$media-s) {
    gap: 20px;
  }
}

.listCompleteItem {
  transition: all 0.23s;
}

.listCompleteEnter,
.listCompleteLeaveTo {
  opacity: 0;
  transform: translateX(30px);
}

.intro-spacer {
  @apply h-[334px];
}