@use '../../base/variables' as variables;
@use '../../base/mixins' as mixins;

.questions-container {
  @apply flex flex-col;
} 

.questions-number-container {
  @apply xl:w-[70px] xl:min-w-[70px] w-[44px] min-w-[44px] h-[70px] flex items-center justify-center;
  
  &.active {
    transform: scale(0.9);
  }
  
  &.transition-scale {
    @apply will-change-transform transition-all duration-100;
  }
}

.questions-number-text {
  @apply font-light s:text-[24px] text-[22px] transition-all duration-100;
  
  &.active {
    @apply m:text-[48px] text-[#FFF];
  }
}

.questions-content-container {
  @apply grow will-change-transform transition-all duration-100 flex items-center gap-[40px];
  
  &.active {
    transform: scale(0.99);
  }
}

.questions-title {
  @apply  grow  ease-in-out transition-all duration-200 ;

  
  &.active {
    color: #FFF;
  }
}

.questions-arrow-icon {
  @apply hidden xl:block transition-all duration-200;

  color: #93969D;
  &.active {
    transform: rotate(180deg);
    color: #FFF;
  }
}

.questions-content-wrapper {
  @apply max-h-[0px] transition-all ease-in duration-200 overflow-hidden;
  
  &.active {
    max-height: 1000px;
  }
}

.questions-inner-content {
  @apply xl:pl-[116px] p-[20px]  xl:pr-[34px] l:py-[30px] flex flex-col gap-[30px];

  .mtp__spoiler-text {
    @apply xss:max-w-full max-w-[260px] xss:mx-0 mx-auto;
  }
}

.questions-button-wrap {
  @apply l:w-[250px] xss:w-[280px] w-[260px] l:mx-0 mx-auto;
}

.questions-button {
  @apply bg-[#34446D] justify-center l:flex items-center px-[16px] py-[9px] relative overflow-hidden border border-solid border-[#34446D] l:text-[20px] text-[18px] transition-all duration-300 gap-[10px] text-[#FFF] rounded-[4px];
} 


