.main-spoiler {
  &__container {
    display: flex;
    flex-direction: row;
    gap: 32px;

    @media (max-width: $media-l) {
      flex-direction: column;
    }
  }

  &__title {
    width: 100%;
    margin-bottom: 48px;
    @media (max-width: $media-m) {
      margin-bottom: 24px;
    }
  }

  &__items {
    width: calc(752 / 1312 * 100%);
    margin-top: 0;
    @media (max-width: $media-l) {
      width: 100%;
    }
    @media (max-width: $media-m) {
      width: 100%;
    }
  }

  &__form-container {
    width: calc(528 / 1312 * 100%);
    position: relative;

    @media (max-width: $media-l) {
      width: 100%;
    }

    @media (max-width: $media-m) {
      width: 100%;
      max-width: 520px;
      margin: 0 auto;
    }
  }

  &__form {
    padding: 32px;
    border-radius: 16px;
    position: sticky;
    top: 16px;
    background-color: $bg-invert;
    width: 100%;

    @media (max-width: $media-l) {
      padding: 24px;
    }

    .form-title {
      color: $white-color;
      margin-bottom: 8px;
    }

    .form-subtitle {
      color: $white-color;
      display: block;
      margin-bottom: 32px;
    }

    .field {
      margin-bottom: 40px;
      @media (max-width: $media-s) {
        margin-bottom: 32px;
      }
    }

    .btn--primary {
      width: 100%;
    }

    .policy {
      margin-top: 16px;
    }
  }
}
