@use '../../base/variables' as variables;
@use '../../base/mixins' as mixins;

.safeguards-container {
  @apply flex flex-col gap-[20px];

  @media (min-width:  calc(variables.$media-xxl + 1px)) {
    margin: 0 auto;

    max-width: 1340px;
    padding: 0 20px;
  }

}

.safeguard-slide-item {
  @apply w-full;
}

.card {
  text-rendering: optimizeLegibility;
  transform-style: preserve-3d;
}

.card-wrap {
  transform: perspective(800px);
  transform-style: preserve-3d;
  z-index: 10;
  will-change: transform;

  img {
      -ms-high-contrast-adjust: none;
      -webkit-user-drag: none;
      width: 100%;
      object-fit: cover;
  }
}