@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.cloneable {
  @apply xl:flex-row flex-col xl:items-end xl:gap-0 gap-[30px];
  justify-content: space-between;

  display: flex;
  position: relative;
}

.overlay {
  @apply xl:w-[640px] xl:h-[447px] w-full xl:p-[30px] xl:pr-[76px] relative z-[0] rounded-[8px] border border-solid border-[#34446D] overflow-hidden flex flex-col justify-between xl:items-start items-center w-full;
  z-index: 2;
  inset: 0% auto 0% 0%;
  background: linear-gradient(270deg, rgba(245, 245, 245, 0) 0%, #FFF 76px);
}

.overlay-title {
  @apply xl:h-[50px] xss:h-[65px] h-[60px] font-light xl:rounded-[6px] rounded-b-[5px] border-[#93969D] border-solid xl:border border-b border-0 flex items-center justify-center xl:p-[10px] p-[15px] w-full;

  --color: rgba(25, 24, 35, 0.4);

  background-color: var(--color);
  /* background-image: url('../../../images/150.webp'); */
  background-repeat: repeat;
}

.count-column {
  height: 44px;
  font-weight: 300;
}

.count-heading {
  @include header-h-2;
  font-weight: inherit !important;
  text-align: right;
  vertical-align: middle;
}

.slider-wrap {
  @apply xl:pt-[31px] p-[1px] xl:justify-start xl:flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.slider-list {
  @apply xxl:translate-x-[638px] xl:translate-x-[600px] xl:justify-end xl:gap-[75px] gap-[20px];
  flex-flow: row;
  align-items: stretch;
  display: flex;
  position: relative;
}

.slider-slide {
  flex: none;
  margin: 1px;
  position: relative;
}

.slide-inner {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slide-main {
  @apply xl:inset-[0%] xl:absolute xl:h-[100%] top-0 z-0;
  width: 100%;
  overflow: hidden;

  @media (max-width: $media-m) {
    width: calc(100% + 40px);
    margin: 0 -20px;
  }
}

.caption-dot {
  background-color: var(--color-dark);
  border-radius: 10em;
  flex: none;
  width: .5em;
  height: .5em;
}

.overlay-slider {
  @apply absolute top-0 xl:right-[76px] left-0 bottom-0 z-[-2] transition-all duration-300;
  background: url(../../../images/svg/functional/bg-slider.svg);
  background-size: cover;
  backdrop-filter: blur(1px);

  &-window {
    @apply absolute z-[6] h-[50px] rounded-[4px] w-full border-[#34446D] border-solid border;
  }

  &-box {
    @apply flex flex-col justify-between h-full l:items-start items-center w-full;
  }
}

.wrapper-slide {
  overflow: hidden;

  .animate {
    animation: slideIn 0.4s ease-out forwards;
  }

  &.wrapper-slide4 {
    pointer-events: all;
    width: 100%;

    .slider {
      width: 100%;
    }
  }

  &.wrapper-slide3 {
    left: 20%;

    .slider {
      left: -100%;
    }
  }

  &.wrapper-slide2 {
    left: 40%;

    .slider {
      left: -200%;
    }
  }

  &.wrapper-slide1 {
    left: 60%;

    .slider {
      left: -300%;
    }
  }

  &.wrapper-slide0 {
    left: 80%;

    .slider {
      left: -400%;
    }
  }

  .slider {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    position: relative;
  }
}

.slider {
  &__navigations {
    @apply justify-between items-end w-full relative z-[10] m:flex hidden xl:p-0 p-[20px];

    &_item {
      @apply bg-[#34446D] h-[50px] rounded-[4px] border-[#34446D] border border-solid flex gap-[50px] items-center justify-center;
    }
  }

  &__button {
    @apply justify-center w-full m:flex items-center relative overflow-hidden m:text-[20px] xss:text-[18px] text-[16px] bg-[#34446D] text-[#FFF] tracking-normal m:flex items-center gap-[10px] rounded-[4px] border-[#34446D] border border-solid;
  }
}

.sliders {
  &__button {
    @apply justify-center m:flex items-center px-[16px] py-[9px] relative overflow-hidden border-[#34446D] border border-solid text-[20px] transition-all duration-300 font-bold tracking-normal gap-[6px] text-[#34446D] hover:text-[#FFF] rounded-[4px] hover:bg-[#34446D];
  }

  &__h2 {
    @apply tracking-[-0.04em] text-center text-[24px] xs:text-[40px] l:text-[56px];
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


