.cloneable {
  padding: var(--container-padding);
  justify-content: end;
  align-items: end;
  display: flex;
  position: relative;
  font-size: 1.1vw;
}

.overlay {
  z-index: 2;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  display: flex;
  position: absolute;
  inset: 0% auto 0% 0%;
}

.overlay-inner {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 28.125em;
  display: flex;
}

.count-column {
  height: 32px;
  overflow: hidden;
}

.count-heading {
  font-weight: 700;
  font-size: 32px;

}

.count-row-divider {
  background-color: var(--color-light);
  width: 2px;
  height: .75em;
  transform: rotate(15deg);
}

.overlay-nav-row {
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  display: flex;
}



.button-arrow {
  flex: none;
  width: 1em;
  height: .75em;
}

.button-arrow.next {
  transform: rotate(180deg);
}

.overlay-corner {
  border-top: 1px solid var(--color-light);
  border-left: 1px solid var(--color-light);
  border-top-left-radius: .4em;
  width: 1em;
  height: 1em;
}

.overlay-corner.top-right {
  position: absolute;
  inset: 0% 0% auto auto;
  transform: rotate(90deg);
}

.overlay-corner.bottom-left {
  position: absolute;
  inset: auto auto 0% 0%;
  transform: rotate(-90deg);
}

.overlay-corner.bottom-right {
  position: absolute;
  inset: auto 0% 0% auto;
  transform: rotate(180deg);
}




.slider-wrap {
  justify-content: flex-start;
  padding-top: 30px;
  width: 100%;
  height: 100%;
  display: flex;
}

.slider-list {
  flex-flow: row;
  gap: 100px;
  justify-content: flex-end;
  align-items: stretch;
  display: flex;
  position: relative;
}

.slider-slide {
  flex: none;
  padding-left: 10px;
  padding-right: 10px;
  transition: opacity .4s;
  position: relative;
}



.slide-inner {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}


.slide-main {
  width: 100%;
  // height: 100%;
  position: absolute;
  overflow: hidden;
}

.slide-blur {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 80%;

  background-blend-mode: overlay;

  // border: 1px solid rgba(255, 255, 255, 0.4);
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  // width: 100px;
  z-index: 1;
  display: flex;
  // transform: translateX(5px) rotateY(20deg);


  //   &::before,
  //   &::after,
  //   span {
  //     background: rgba(255, 255, 255, 0.1);
  // display: block;
  //     backdrop-filter: blur(5px);

  //     -webkit-backdrop-filter: blur(5px);
  //     border: 1px solid rgba(255, 255, 255, 0.4);
  //     box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
  //     height: 100%;
  //     width: 100%; 
  //   }
  //   &::before {
  //     transform: translateX(16px) rotateY(40deg);

  //   }

  //   span {
  //     transform: translateX(8px) rotateY(40deg);

  //   }

  //   &::after {
  //     transform: translateX(0) rotateY(40deg);
  //   }

  //   &::before,
  //   &::after {
  //     content: '';
  //   }
}

.caption-dot {
  background-color: var(--color-dark);
  border-radius: 10em;
  flex: none;
  width: .5em;
  height: .5em;
}


.overlay-slider {
  background: linear-gradient(270deg, rgba(245, 245, 245, 0) 0%, #F5F5F5 10%);
}


.animation-content {
  animation: float 3s ease-in-out infinite;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
    /* Возвращение в исходное положение */
  }
}

.blurred-element {
  background: linear-gradient(270deg, #F5F5F5 0%, rgba(245, 245, 245, 0) 80%);
}

.slideshow {
  position: relative;
  z-index: 1;
  height: 100%;
  max-width: 700px;
  margin: 50px auto;

  * {
    outline: none;
  }

  .slider-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    overflow: hidden;
    height: 100%;
    pointer-events: none;
    z-index: 2;


    &:nth-child(1) {
      pointer-events: all;
      width: 100%;
      z-index: 1;

      .slider {
        left: 0%;
        width: 100%;
      }
    }

    &:nth-child(2) {
      left: 20%;

      .slider {
        left: -100%;
      }
    }

    &:nth-child(3) {
      left: 40%;

      .slider {
        left: -200%;
      }
    }

    &:nth-child(4) {
      left: 60%;

      .slider {
        left: -300%;

        .slider-track {
          transition-delay: 1s;
        }
      }
    }

    &:nth-child(5) {
      left: 80%;

      .slider {
        left: -400%;

        .slider-track {
          transition-delay: 2s;
        }
      }
    }

    .slider {
      width: 500%;
    }
  }

  .slider-track {
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
  }

  .item {
    height: 100%;
    background: #f00;
    color: #fff;
    position: relative;
    z-index: 1;

    img {
      width: 100%;
    }

    .text {
      position: absolute;
      z-index: 10;
      top: 20px;
      left: 30px;
      font-size: 40px;
      width: 90%;
      line-height: 1;
      text-transform: uppercase;
      color: #fff;
      transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
      transform: translate(-100%);
      opacity: 0;

      p {
        margin-top: 10px;
        font-size: 14px;
        line-height: 1.6;
        text-transform: none;
        width: 50%;
        color: rgba(255, 255, 255, .8);
      }
    }

    &.slick-active {
      z-index: 10;

      .text {
        transform: translate(0);
        opacity: 1;
      }
    }
  }
}

.wrapper-slide {
  overflow: hidden;

  &.wrapper-slide4 {

    pointer-events: all;
    width: 100%;

    .slider {
      width: 100%;
    }
  }

  &.wrapper-slide3 {
    left: 20%;

    .slider {
      left: -100%;
    }
  }

  &.wrapper-slide2 {
    left: 40%;

    .slider {
      left: -200%;
    }
  }

  &.wrapper-slide1 {
    left: 60%;

    .slider {
      left: -300%;

    }
  }

  &.wrapper-slide0 {
    left: 80%;

    .slider {
      left: -400%;

    }
  }
}