@use '../../base/variables' as *;
@use '../../base/mixins' as *;

.safeguards-container {
  @apply flex flex-col gap-[20px];

  @media (min-width:  calc($media-xxl + 1px)) {
    margin: 0 auto;

    max-width: 1340px;
    padding: 0 20px;
  }

}

.safeguard__box {
  @apply flex gap-[20px];


  @media (max-width: $media-xxl) {
    width: 972px;
    margin: 0 auto;
    overflow: hidden;
  }

  @media (max-width: $media-l) {
    width: 660px;
  }

  @media (max-width: $media-m) {
    width: calc(100% + 40px) !important;
    margin: 0 -20px !important;
    overflow: visible !important;

  }
}

.safeguard-slide-item {
  @apply w-full;
}

.card {
  text-rendering: optimizeLegibility;
  transform-style: preserve-3d;
}

.card-wrap {
  transform: perspective(800px);
  transform-style: preserve-3d;
  z-index: 10;
  will-change: transform;

  img {
      -ms-high-contrast-adjust: none;
      -webkit-user-drag: none;
      width: 100%;
      object-fit: cover;
  }
}

.safeguard-card-wrapper {
  @apply z-[0]     xxs:w-[310px] xss:w-[320px] w-[280px] relative xxs:h-[520px] xss:h-[525px] h-[457px] xxl:translate-y-[0] transition-all duration-500;
  
  &:not(.visible) {
    @apply xxl:translate-y-[30px] xxl:opacity-0;
  
  }
}

.safeguard-card-border {
  @apply absolute top-[2px] left-0 right-0 bottom-0 border-[#93969d] z-[-1] pointer-events-none border border-solid rounded-[6px];
  
  .safeguard-card-wrapper:hover & {
    border-color: #34446D;
  }
}

.safeguard-card-content {
  @apply bg-[#FFFFFF26] h-full rounded-[6px] flex flex-col gap-[29px] justify-between;
  box-shadow: none !important;
  
  .safeguard-card-wrapper:hover & {
    background-color: #34446D33;
  }
}

.safeguard-card-inner {
  @apply flex flex-col gap-[30px] h-full;
}

.safeguard-image-container {
  @apply overflow-hidden h-[200px] w-full relative rounded-t-[8px];
}

.safeguard-title-overlay {
  @apply shadow-[inset_0_0_6px_0_rgba(255,_255,_255,_0.3),_0_0_10px_0_rgba(0,_0,_0,_0.8)]  z-[2] text-[#FFF] backdrop-blur-[4px]  rounded-[4px] bg-[#FFFFFF1A] absolute top-[15px] left-[15px] xss:w-[190px] s:w-[210px] w-[180px] xss:h-[58px] s:h-[61px] h-[55px] font-light flex items-center justify-center px-[10px];
}

.safeguard-image {
  @apply w-auto min-w-full h-full transition-all duration-100 ease-in-out;
}

.safeguard-content-container {
  @apply px-[15px] flex flex-col grow;
}

.safeguard-item {
  @apply  flex flex-col;

  &:not(:last-child) {
    @apply pb-[20px];
  }

  &:last-child {
    @apply grow;
  }
}

.safeguard-item-header {
  @apply flex justify-between gap-[20px];
}

.safeguard-item-title {
  @apply transition-all duration-100;
}

.safeguard-arrow-icon {
  @apply min-w-[17px] rotate-[0deg] transition-all duration-100;
  
  color: #93969D;
  
  &.active {
    transform: rotate(180deg);
    color: #000;
  }
  
  @media (min-width: 1280px) {
    .safeguard-item:hover & {
      transform: rotate(180deg);
      color: #000;
    }
  }
}

.safeguard-item-content {
  @apply transition-all duration-100 max-h-0;
  
  &.active {
    max-height: 95px;
  }
  
  @media (min-width: 1280px) {
    .safeguard-item:hover & {
      max-height: 95px;
    }
  }
}

.safeguard-item-list {
  @apply list-disc pl-[35px] pt-[5px] overflow-hidden;
}

.safeguard-list-item {
  @apply will-change-transform duration-100 font-light transition-all opacity-0 translate-x-[-100%] xss:text-[16px] text-[14px];
  
  &.active {
    opacity: 1;
    transform: translateX(0);
  }
  
  @media (min-width: 1280px) {
    .safeguard-item:hover & {
      opacity: 1;
      transform: translateX(0);
    }
  }
}


