@use '../../base/variables' as variables;
@use '../../base/mixins' as mixins;

.safeguards-container {
  @apply flex flex-col gap-[20px];

  @media (min-width:  calc(variables.$media-xxl + 1px)) {
    margin: 0 auto;

    max-width: 1340px;
    padding: 0 20px;
  }

}

.safeguard-slide-item {
  @apply w-full;
}