@use '../../base/variables' as varibles;
@use '../../base/mixins' as mixins;

.mainBanner {
  @apply rounded-b-[35px];
  padding-top: 56px;
  padding-bottom: 75px;
  position: relative;
  z-index: 0;

  @media (max-width: varibles.$media-xl) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.mainBannerTitle {
  content-visibility: auto;
  contain-intrinsic-size: 100px 60px;
  
  max-width: 734px;
  width: 100%;
  color: #000;

  @media (max-width: varibles.$media-xl) {
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
  }
}

.mainBannerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  @media (max-width: varibles.$media-xl) {
    gap: 40px;
    flex-direction: column;
  }

  @media (max-width: varibles.$media-s) {
    gap: 20px;
  }
}

.listCompleteItem {
  transition: all 0.23s;
}

.listCompleteEnter,
.listCompleteLeaveTo {
  opacity: 0;
  transform: translateX(30px);
}


.intro-content-container {
  @apply flex flex-col gap-[50px];
}

.intro-spacer {
  @apply h-[334px];
} 