@use '../../base/variables' as varibles;
@use '../../base/mixins' as mixins;

.main-banner {
  padding-top: 120px;
  padding-bottom: 75px;

  background: url('../../../images/noise.png');

  @media (max-width: varibles.$media-l) {
    padding-top: 100px;
    padding-bottom: 112px;
  }

  @media (max-width: varibles.$media-s) {
    padding-top: 90px;
  }

  &__title {
    max-width: 792px;
    width: 100%;
    color: varibles.$white-color;
    font-weight: 400;
    font-size: 64px;
    line-height: 73.59px;
    letter-spacing: -4%;

    @media (max-width: varibles.$media-l) {
      margin: 0 auto;
      font-size: 44px;
      max-width: 550px;
      line-height: 50px;
     
    }

    @media (max-width: varibles.$media-s) {
      font-size: 26px;
      max-width: 340px;
      line-height: 30px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: varibles.$media-l) {
      gap: 40px;
      flex-direction: column;
     
    }

    @media (max-width: varibles.$media-s) {
      gap: 20px;      
     
    }
  }

}

.list-complete-item {
  transition: all 0.23s;
}

.list-complete-enter,
.list-complete-leave-to {
  opacity: 0;
  transform: translateX(30px);
}