@use '../../base/variables' as variables;
@use '../../base/mixins' as mixins;

.skill-card-wrapper {
  @apply hover:z-[12] relative h-[224px] xxl:w-[310px] xss:w-[320px] w-[280px];

  &:not(.folder) {
    @apply xl:cursor-pointer;
  }
}

.skill-card-content {
  @apply relative z-[0] h-full text-[#000] w-full;
}

.skill-card-inner {
  @apply flex overflow-hidden relative flex-col xss:gap-[20px] gap-[15px] rounded-[6px] relative z-[1] justify-between h-full transition-all duration-500 border border-solid;

  filter: blur(0.01px);

  &.folder {
    @apply items-center justify-center  rounded-[6px] border-[transparent] xxl:border-[#93969D];
  }

  &:not(.folder) {
    @apply p-[20px] border-[#93969D];


  }


}

.skill-folder-image {
  @apply transition-all object-cover duration-300 rounded-[6px] h-full;
}

.skill-card-title {
  @apply s:text-[20px] text-[18px] transition-all duration-500;
}

.skill-content-container {
  @apply grow max-w-[270px];
}

.skill-list {
  @apply font-light pl-[17px] transition-all duration-500 flex flex-col gap-[5px] xss:text-[16px] text-[14px];

  &:not(.visible) {
    transform: translateY(10px);
    opacity: 0;
  }

  li {
    position: relative;

    &::before {
      content: "•";
      position: absolute;
      left: -17px;
      top: -1px;
    }
  }
}