@import '../base/variables';
@import '../base/mixins';

:root {
	--filter-blur-header: 15px;
	--color-header: rgba(25, 24, 35, 0.4);
}

.header {

	z-index: 50;
	height: 54px;
	padding: 2px;
	backdrop-filter: blur(15px);

	@media (max-width: $media-l) {
		padding: 2px 6px;
	}

	&.active {
		@media (max-width: $media-l) {
			@apply bg-[#FFF];
			--color: transparent;
			border-bottom: 1px solid #34446D;
			padding-bottom: 0;
			height: 52px;

			.header__bg {
				background-color: transparent;
				backdrop-filter: blur(0);
				background-image: none;

				&::before {
					background: none;
				}

			}
		}
	}

	svg,
	svg path {
		transition: transform 0.15s ease, color 0s ease, stroke 0.15s ease;
	}

	&.black {
		--color-item-menu-active: #000;
		--border-item-menu-active: #FFF;
		--color-item-menu-hover: #000;
		--menu-item-border-hover: transparent;
		--menu-item-border: #FFF;
		--color-item-menu: rgba(0, 0, 0, 1);
		--menu-item-opacity-light: 0.5;

		.logo {
			color: #000;
		}

		.header-nav__link {
			color: #000;



			&.active {
				border: 1px solid #00000099;
			}
		}
	}


	&-nav {

		width: 100%;

		&__list {
			display: flex;
			align-items: center;
			gap: 8px;

			@media (max-width: $media-xl) {
				gap: 10px;
			}

			@media(max-width: $media-l) {
				flex-direction: column;
				align-items: flex-start;
				gap: 0px;
			}

			@media(max-width: $media-l) {
				width: 100%;
				margin: 0 auto 0 auto;
				position: relative;
				z-index: 100;
				padding: 0 40px;
			}

			@media(max-width: $media-s) {
				z-index: 1;
			}

		}



		&__link {
			@include transition();
			@include resetBtnStyles;
			display: flex;
			align-items: center;
			gap: 4px;
			font-size: 16px;
			line-height: 24px;
			vertical-align: middle;
			letter-spacing: 0.01em;
			color: $typography-primary;
			text-decoration: none;
			font-family: $font-family-2;
			padding: 5px 15px;
			border-radius: 4px;
			border: 1px solid transparent;

			svg path {
				@include transition();
			}

			@media(max-width: $media-l) {
				font-size: 20px;
				line-height: 28px;
			}

			&:not(.active) svg {
				transform: rotate(180deg);
			}

			&.active {
				border: 1px solid #FFF;
			}

			.icon {
				flex-shrink: 0;
				width: 24px;
				height: 24px;
				margin-right: 8px;
				transition: none;
			}
		}


	}

	.header__bg {
		position: relative;
	}

	&__bg {
		backdrop-filter: blur(var(--filter-blur-header));
		background-color: var(--color-header);
		border-radius: 4px;
		padding: 0 11px;
		display: flex;
		align-items: center;
		overflow: hidden;

		&:not(.noblur) {
			background-image: url('../../images/150.webp');
			background-repeat: repeat;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(0deg, transparent 15%, var(--color-header));
			pointer-events: none;
		}

		&.active {
			background-color: transparent;
			backdrop-filter: blur(0);
			background-image: none;

			&::before {
				background: none;
			}
		}
	}

	&__menu {
		position: relative;
		z-index: 10;
		flex-grow: 1;

		&-mob {
			--color: #FFF;
			display: none;

			@media (max-width: $media-l) {
				position: fixed;
				width: 100vw;
				height: calc(100vh - 50px);
				z-index: 10;
				top: 52px;
				left: 0;
				background: var(--color);
				padding-top: 34px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				transform: translateX(100%);
				@include transition();
				transition-duration: 150ms;


				&.active {
					transform: translateX(0);

				}
			}


			.button-menu {
				border: 1px solid #93969d;
				border-radius: 4px;
				padding: 6px 15px;
				height: 50px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 18px;
			}
		}

		@media (max-width: $media-l) {
			display: none;
		}


		&-content {
			display: none;

			@media (max-width: $media-l) {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				max-width: 596px;
				margin: auto;
				gap: 10px;
				padding: 40px 10px;
			}

			@media (max-width: $media-s) {
				margin-bottom: 0;
				padding: 40px;
				width: 100%;
			}

			.title {
				color: $white-color;
				margin-bottom: 8px;

				@media (max-width: $media-s) {
					display: none;
				}
			}

			.subtitle {
				color: $white-color;
				margin-bottom: 8px;

				@media (max-width: $media-s) {
					display: none;
				}
			}

		}
	}


}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	gap: 2px;


	.logo {
		color: $white-color;
	}

	&-nav {
		&__link {
			color: $white-color;
		}
	}

	&__menu-mob-item {
		@apply min-h-[50px] w-full items-center flex justify-between items-center w-full rounded-[4px] border-solid active:bg-[#34446d33] active:border-[#34446D] active:border;

		padding: 10px 11px;
		text-align: left;
		display: flex;
		justify-content: space-between;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: -1px;
			bottom: -1px;
			left: 11px;
			right: 11px;
			z-index: -1;
			border-bottom: 1px solid #93969d;
		}

		&.first-child::before {
			border-top: 1px solid #93969d;
		}

	}


}

.services-menu-box {
	--color: rgba(25, 24, 35, 0.4);

	position: fixed;
	top: 0;
	left: 2px;
	right: 2px;
	z-index: 20;
	transform: translateY(-100%);

	transition: all 0.1s ease;

	&.dark {
		--menu-item-opacity-light: 0.5;
	}

	&.menu-headers {
		z-index: 21;
		transition-delay: 0.1s;

	}


	&.active {
		transform: translateY(0);
		top: 130px;

		&.menu-headers {
			top: 54px;
			transition-delay: 0s;
		}

		&:not(.menu-headers) {
			transition-delay: 0.1s;
		}
	}
}

.services-menu {

	background-color: var(--color);
	background-image: url('../../images/150.webp');
	background-repeat: repeat;

	backdrop-filter: blur(15px);
	width: calc(100vw - 8px);
	border-radius: 4px;




	&__title {
		color: $white-color;
	}

	&__btn-close {
		width: 32px;
		height: 32px;
		background: transparent;
		border: none;
		padding: 0;

		.icon--close {
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.3);
		}
	}

	&__wrapper {
		max-height: calc((var(--vh, 1vh) * 100) - 190px);
		max-width: 1420px;
		margin-right: auto;
		margin-left: auto;
		width: 100%;

		@media (max-width: $media-l) {
			margin-top: 32px;
			max-height: calc(100vh - 140px);
			max-height: calc((var(--vh, 1vh) * 100) - 140px);
		}

		@media (max-width: $media-s) {
			padding-right: 4px;
			margin-top: 24px;
		}

		&::-webkit-scrollbar {
			width: 2px;
			background-color: rgba(255, 255, 255, 0);

			&-thumb {
				background: rgba(255, 255, 255, 0.4);
			}

		}

	}

	.services-menu__list {
		column-count: 3;
		gap: 32px;
		margin: 0;
		width: 100%;

		@media (max-width: $media-l) {
			column-count: 2;
		}

		@media (max-width: $media-s) {
			column-count: 1;
		}

		.services-menu__list {
			column-count: 1;
			max-height: none;
			overflow: unset;
			break-inside: avoid;
		}

		.services-menu__item {}
	}

	&__list {
		margin-bottom: 32px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		page-break-inside: avoid;
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}

		.services-menu__link {
			font-size: 16px;
			line-height: 24px;
			font-weight: 600;
			color: $typography-invert;
			height: 11px;
			margin-bottom: 15px;
			font-family: $font-family-2;
		}

		.services-menu__item {
			margin-bottom: 0;

			.services-menu__link {
				font-size: 14px;
				line-height: 1;
				font-weight: 400;

				margin-bottom: 15px;
				font-family: $font-family;

				@media (max-width: $media-s) {
					line-height: 20px;
				}
			}
		}
	}

	&__link {
		@include transition();
		display: block;
		font-size: 14px;
		line-height: 1;
		color: rgba(255, 255, 255, 0.7);
		text-decoration: none;

		&:hover,
		&:active,
		&:focus {
			// color: $white-color;
		}
	}
}

.logo {
	display: flex;
	width: 122px;
	height: 24px;
	color: #FFF;
	z-index: 12;


	.icon {
		width: 100%;
		height: 100%;
	}

	&.invert {
		width: 192px;
		height: 40px;
		color: $white-color;

		@media (max-width: $media-s) {
			width: 42px;
		}

		.icon {
			width: 100%;
			height: 100%;
		}
	}
}