.footer {
  @apply mt-[40px] s:mt-[25px] m:mb-[2px] m:mx-[2px] xxs:mx-[40px] xxs:mb-[40px] xss:mx-[20px] xss:mb-[20px] mb-[10px] mx-[10px];

  .white-style {
    .btn-lang {
      @media (min-width: 960px) {
        --color-item-menu: #000;
      }

      --color-item-menu: #fff;
    }

    --color-item-menu: #000;
    border: 1px solid #93969d;
    border-radius: 3px;
    backdrop-filter: blur(4px);
    color: #000;
    display: flex;
    align-items: center;
    flex-grow: 1;
    background: transparent;
  }

  .dark-style {
    --color-item-menu: #FFF;
    color: #FFF;
    display: flex;
    align-items: center;
    flex-grow: 1;
    border-radius: 3px;
    backdrop-filter: blur(4px);
    background: linear-gradient(180deg, #93969d, #3e424b);
  }

  &__white {
    @apply xl:!px-[15px] xl:!py-[15px] xss:p-[27px] p-[20px] m:px-[34px] m:py-[15px];

    &:not(.change-style) {
      @apply white-style;
    }

    &.change-style {
      @media (min-width: 960px) {
        @apply white-style;
      }

      @apply dark-style;
    }
  }

  &__dark {
    @apply dark-style xl:!px-[15px] xl:!py-[15px] xss:p-[27px] p-[20px] m:px-[34px] m:py-[15px];

    &.bottom-top {
      @media (max-width: 1279px) {
        background: linear-gradient(180deg, #3e424b, #93969d);
      }
    }
  }

  .sendBtn {
    @apply gap-[8px];

    .sendTextFooter {
      @apply transition-all duration-200 block xl:translate-x-[16px] translate-x-0;
    }

    .sendIconFooter {
      @apply transition-all duration-200 block xl:opacity-0 opacity-100 xl:translate-x-[-9px] translate-x-0;
    }

    &:hover {
      .sendTextFooter {
        @apply xl:translate-x-0;
      }

      .sendIconFooter {
        @apply xl:translate-x-0 xl:opacity-100;
      }
    }
  }
}







