@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'base/variables';
@import 'base/mixins';
@import 'base/sprite';
@import 'base/fonts';
@import 'base/grid';
@import 'base/base';
@import 'base/icon';
@import 'base/typography';
@import 'base/button';
@import 'base/loader';

// @import 'vue-multiselect/dist/vue-multiselect.min.css';
// @import 'blocks/vue-multiselect.scss';

// @import 'blocks/vue-datapicker.scss';

@import 'blocks/forms';
@import 'blocks/selects';
@import 'blocks/modals/modals';

@import 'sections/header';
@import 'sections/footer';

@import 'base/print';
@import 'blocks/breadcrumbs';



.PhotoView__Photo {
    box-shadow: 0px 0px 10px 0px #000000CC;
    cursor: inherit !important;

}

.PhotoView__Photo__attr {
    position: relative;

    @media (min-width:1240px) {
        width: 448px;
    }



    text-align: center;




}

.PhotoView__Photo__description {

    position: absolute;
    bottom: -48px;
    left: 0;
    right: 0;

    color: #FFF;
    font-size: 20px;


    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PhotoView__Photo__title {
    color: #FFF;
    font-size: 24px;
    font-weight: 300;
    white-space: nowrap;
    position: absolute;
    top: -52px;
    left: 0;
    right: 0;
    user-select: none;
}


.PhotoView__PhotoWrap {
    height: 100vh !important;
}

.PhotoView__PhotoBox {
    right: auto !important;
    width: auto !important;
}



.PhotoView-Slider__BannerRight {
    height: auto !important;


    @media (min-width:1240px) {
        position: fixed !important;

        top: 50%;
        right: 50%;
        transform: translate(400px, -370px);
    }

    @media (max-width:1239px) {
        .close {
            right: 20px;
            top: 20px;
        }
    }
    
    .close {
        --close-color: #FFF;
    }



}




// .rubik {
//     font-family: var(--font-rubik), sans-serif;
// }

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

.close {
    display: block;
    width: 26px;
    height: 26px;
    float: right;
    cursor: pointer;
    position: relative;
    z-index: 3000;

    @media (max-width: $media-s) {
        width: 20px;
        height: 20px;
    }

    --close-color: #93969D;
}

.close>div {
    position: relative;
}

.close-button-block {
    position: relative;
    overflow: hidden;
    width: 26px;
    height: 13px;

    @media (max-width: $media-s) {
        width: 20px;
        height: 10px;
    }
}

.close-button-block:before,
.close-button-block:after {
    content: "";
    position: absolute;
    bottom: 0;

    left: calc(50% - 1px);
    display: block;
    width: 2px;
    height: 30px;
    transform-origin: bottom center;
    background: var(--close-color);
    transition: all ease-out 280ms;
}

.close-button-block:last-of-type {
    transform: rotate(180deg);
}

.close .in .close-button-block:before {
    transition-delay: 280ms;
    transform: translateX(14px) translateY(-14px) rotate(45deg);
}

.close .in .close-button-block:after {
    transition-delay: 280ms;
    transform: translateX(-14px) translateY(-14px) rotate(-45deg);
}

.close .out {
    position: absolute;
    top: 0;
    left: 0;
}

.close .in .close-button-block:before {
    transition-delay: 280ms;
    transform: translateX(20px) translateY(-20px) rotate(45deg);
}

.close .in .close-button-block:after {
    transition-delay: 280ms;
    transform: translateX(-22px) translateY(-22px) rotate(-45deg);
}

.close .out {
    position: absolute;
    top: 0;
    left: 0;
}

.close .out .close-button-block:before {
    transform: translateX(-5px) translateY(5px) rotate(45deg);
}

.close .out .close-button-block:after {
    transform: translateX(5px) translateY(5px) rotate(-45deg);
}

.close:hover .in .close-button-block:before {
    transform: translateX(-5px) translateY(5px) rotate(45deg);
}

.close:hover .in .close-button-block:after {
    transform: translateX(5px) translateY(5px) rotate(-45deg);
}

.close:hover .out .close-button-block:before {
    transform: translateX(-20px) translateY(20px) rotate(45deg);
}

.close:hover .out .close-button-block:after {
    transform: translateX(20px) translateY(20px) rotate(-45deg);
}





.PhotoView-Slider__ArrowLeft svg,
.PhotoView-Slider__ArrowRight svg {
    display: none !important;

}


.PhotoView-Slider__Backdrop {
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    background: #000000CC !important;
}

.PhotoView-Slider__BannerWrap {
    top: 0 !important;
    background-color: transparent !important;
    opacity: 1 !important;

    &::before {

        @media (min-width:1240px) {
            font-size: 20px;
            top: 50%;
            transform: translate(0, -368px);
            white-space: nowrap;
        }

        font-size: 18px;

        transform: translate(0, 50px);
        width: calc(100vw);
        justify-content: center;
        content: attr(data-before);
        position: fixed;
        left: 0;
        text-align: center;
        right: 0;
        display: flex;
        align-items: end;
    }
}

.modal__nav-arrow--left {
    --arrow: url(../images/svg/left-arrow-modalphoto.svg);
    cursor: var(--arrow) 25 25, auto;
}

.modal__nav-arrow--right {
    --arrow: url(../images/svg/right-arrow-modalphoto.svg);
    cursor: var(--arrow) 25 25, auto;
}

.PhotoView-Slider__Counter {
    opacity: 0 !important;
}



.tariff-wrap {
    perspective: 200px;
    position: relative;
    z-index: 2;
    max-width: 100%;
}

.tariff.an-border {
    --color-b: #737373;

    &.bdark {
        --color-b: #000;
    }

    &::after {
        content: "";
        position: absolute;


        z-index: 20;

        border-radius: 4px;
        padding: 1px;

        background: radial-gradient(80px circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
                var(--menu-item-border),
                var(--color-b) 100%);

        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;

        opacity: 0;
        pointer-events: none;
    }

    &.tariff-inset {
        &::after {
            inset: 0;
        }
    }

    &:not(.tariff-inset) {
        &::after {
            top: -1px;
            bottom: -1px;
            left: -1px;
            right: -1px;
        }
    }
}



.tariff:hover::before,
.tariff:hover::after {
    opacity: 1;
}

.tariff {
    width: 100%;
    font-weight: 300;
    z-index: 1;
    cursor: pointer;
    box-sizing: border-box;

    &:not(.not-backdrop) {
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
    }


    backface-visibility: hidden;
    will-change: transform;

    text-rendering: optimizeLegibility;


    backface-visibility: hidden;

    &:not(.no-transitions) {
        transition: all 0.1s ease;
    }

    &.no-transitions {
        transition: transform 0.1s ease;
    }



    transform: translateZ(0);
}

.tariff:active,
.tariff.fast-click {

    transform: scale(0.9) rotateY(var(--y)) translateZ(10px) !important;
}

body {
    &::-webkit-scrollbar {
        display: none;
    }
}

.no-3-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.scrollbar {
    --scrollY: 0px;
    --scrollbarHeight: 100px;
    z-index: 1000;
    right: 0;
    top: 0;
    height: 100%;
    position: absolute;
    width: 8px;
    padding: 2px;

    &::before {
        overflow: hidden;
        content: '';
        font-size: 10px;
        text-align: center;
        word-break: break-all;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: var(--scrollY);
        width: 100%;
        max-width: 100%;
        height: var(--scrollbarHeight);
        background: rgba(52, 68, 109, 0.2);
        border: 1px solid #93969D;
        border-radius: 3px;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);

    }

    &.window {
        position: fixed;
        width: 13px;

        @media (max-width: 900px) {
            display: none;
        }
        


    }
}






input:-internal-autofill-selected {
    color: inherit !important;
}

input:-webkit-autofill {
    color: inherit !important;
}

#wrap-texture {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#canvas {
    position: absolute;
    inset: 0;
    z-index: 0;
    height: 100vh;
}

#wrap-texture-box {
    position: relative;
    z-index: 1;
    width: 475px;
    height: 677px;
    overflow: hidden;
}

.plane {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.plane img {
    display: none;
}


@keyframes motion-blur {
    0% {
        filter: url(#blur0);
        transform: scale(1, 1);
    }

    15% {
        filter: url(#blur1);
        transform: scale(1, 0.98);
    }

    30% {
        filter: url(#blur2);
        transform: scale(1, 0.95);
    }

    45% {
        filter: url(#blur3);
        transform: scale(1.1, 0.93);
    }

    60% {
        filter: url(#blur4);
        transform: scale(1.15, 0.91);
    }

    75%,
    100% {
        filter: url(#blur5);
        transform: scale(1.2, 0.9);
    }
}

// .slider-transitions {
//     animation:
//         motion-blur 0.1s linear forwards,
//         motion-blur 0.4s linear reverse forwards 0.1s;
// }

.Slider_scale {
    will-change: transform;

}




.canvas_block {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
}

.linear-text {
    background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0.44) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main {
    @apply mt-[52px] xl:mt-[62px];
    min-height: calc(100vh - 340px);
}

.btnIconAn {
    display: flex;
    gap: 15px;
    align-items: center;
    height: 50px;

    .sendIconLeft {
        @apply block duration-100 transition-all ease-in translate-x-0 xl:translate-x-[-10%] xl:opacity-0 min-w-[23px] w-[23px];
    }



    .sendText {
        @apply block duration-100 transition-all relative ease-in xl:left-[7%] -translate-y-[1px] left-0;
        line-height: .5;
    }

    &:hover {

        .sendText {
            @apply xl:left-0
        }


        .sendIconLeft {
            @apply xl:translate-x-0 xl:opacity-100;
        }

    }

}

.section {
    @apply py-[40px] s:py-[75px] relative flex flex-col gap-[20px] s:gap-[50px];


    &__title {
        @apply text-center;
    }
}

.line-after {

    &.stop-color {
        color: inherit !important;

        &:after {
            border-color: #FFF !important;
        }
    }



    transition: transform .1s ease;
    will-change: transform,
    color,
    clip-path;
    position: relative;

    &.active {
        @apply text-[#34446D];

        &:after {
            clip-path: inset(0 0 0 0);
        }
    }

    &__box {
        &:hover {
            .line-after {
                @apply text-[#34446D];

                &:after {
                    clip-path: inset(0 0 0 0);
                }
            }

        }
    }

    &:after {
        content: "";
        border-bottom: 1px solid;
        border-color: #34446D;
        transition: clip-path .1s ease, border-color .1s ease;
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: -1px;
        clip-path: inset(0 0 0 100%);
    }

    &:hover {
        &::after {
            clip-path: inset(0 0 0 0);
        }
    }
}

/* Стили для предотвращения субпиксельных смещений */
.skills__box {
    transform: translateZ(0) translate3d(0, 0, 0);
    /* Принудительное аппаратное ускорение */
    backface-visibility: hidden;
    perspective: 1000px;
    /* Принудительное округление позиций */
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

[data-slider="slide-skill"] {
    transform: translateZ(0) translate3d(0, 0, 0);
    /* Принудительное аппаратное ускорение */
    backface-visibility: hidden;
    will-change: transform;

    /* Принудительное пиксельное выравнивание */
    position: relative;

    /* Предотвращение сглаживания */
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

/* Дополнительные стили для четкого позиционирования */
.skills__box,
[data-slider="slide-skill"] {
    /* Предотвращение размытия при трансформациях */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Точное позиционирование */
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

/* Если используете центрирование */
.skills__box.centered {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* Стили для точек навигации */
.slide-dots {
    transform: translateZ(0);
    backface-visibility: hidden;
}

.slide-dots-box {
    transform: translateZ(0);
    backface-visibility: hidden;
}



.list-disc {
    li {
        position: relative;

        &::before {
            content: "•";
            position: absolute;
            left: -17px;
            top: -1px;
        }

        &::marker {
            content: "";
            display: none;
        }
    }
}

.map-company > path {
        transition: all 0.1s ease;
        &:hover  {
            fill: #34446D;
            fill-opacity: 0.5;
        }
}

.map-company > g  {
    transition: all 0.1s ease;
    &:hover > path {
        fill: #34446D;
        fill-opacity: 0.5;
    }
}