@use 'global.scss' as *;
@use 'base/base' as *;
@use 'base/typography' as *;
@import '@/assets/lib/react-photo-view/dist/react-photo-view.css';
@import '@/assets/styles/blocks/photoviews.scss';




/* .scrollbar {
    --scrollY: 0px;
    --scrollbarHeight: 100px;
    z-index: 1000;
    right: 0;
    top: 0;
    height: 100%;
    position: absolute;
    width: 8px;
    padding: 2px;

    &::before {
        overflow: hidden;
        content: '';
        font-size: 10px;
        text-align: center;
        word-break: break-all;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: var(--scrollY);
        width: 100%;
        max-width: 100%;
        height: var(--scrollbarHeight);
        background: rgba(52, 68, 109, 0.2);
        border: 1px solid #93969D;
        border-radius: 3px;
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);

    }

    &.window {
        position: fixed;
        width: 13px;

        @media (max-width: 960px) {
            display: none;
        }



    }
} */








