//стили страницы
@use 'base/variables' as *;
@use 'base/mixins' as *;
@use 'base/base.module' as *;

@use 'sections/main/main-slider';
@use 'sections/main/main-banner';
@use 'sections/main/main-safeguards';
@use 'sections/main/main-questions';
@use 'sections/main/main-feedback';
@use 'sections/main/main-skills';
@use 'sections/main/main-documents';



