//стили страницы
@use 'base/variables' as *;
@use 'base/mixins' as *;
@use 'sections/main/main-slider' as *;
@use 'sections/main/main-banner' as *;
@use 'sections/main/main-intro' as *;


.bg-secondary {
  background-color: #F5F5F5;

  .container {
    background-color: #F5F5F5;
  }
}


:root {
  --cr-white: 0, 0%, 100%;
  --cr-malachite: 133, 79%, 51%;
  --cr-java: 180, 87%, 38%;
  --cr-mirage: 240, 25%, 12%;
}


.section {
  @apply py-[40px] s:py-[75px] relative flex flex-col gap-[20px] s:gap-[50px];


  &__title {
      @apply text-center;
  }
}








.safeguard__box {
  @apply flex gap-[20px];


  @media (max-width: $media-xxl) {
    width: 972px;
    margin: 0 auto;
    overflow: hidden;
  }

  @media (max-width: $media-l) {
    width: 660px;
  }

  @media (max-width: $media-m) {
    width: calc(100% + 40px) !important;
    margin: 0 -20px !important;
    overflow: visible !important;

  }
}