//стили страницы
@import 'base/variables';
@import 'base/mixins';
@import "node_modules/photoswipe/dist/photoswipe";

@import 'blocks/modals/pswp.scss';

@import 'sections/article/mtp-spoiler';
@import 'sections/article/mtp-gallery';

@import 'sections/main/main-adv';
@import 'sections/main/main-slider';
@import 'sections/main/main-spoiler';
@import 'sections/main/main-skills';


.bg-secondary {
  background-color: #F5F5F5;

  .container {
    background-color: #F5F5F5;
  }
}


:root {
  --cr-white: 0, 0%, 100%;
  --cr-malachite: 133, 79%, 51%;
  --cr-java: 180, 87%, 38%;
  --cr-mirage: 240, 25%, 12%;
}

$gradient-1: hsl(var(--cr-malachite)), hsl(var(--cr-java));
$wall__line_bd-cr: hsl(0deg 0% 100% / 0%);
$wall__line_box-sw: 0 0 0.2em hsla(0, 0%, 0%, 0.18);

.slide-blur {
  @apply xl:flex hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  pointer-events: none;
  z-index: 1;


  .line {
    background-color: $wall__line_bd-cr;
    width: 20px;
    backdrop-filter: blur(var(--blur));

    &:nth-child(1) {
      transition: all .2s ease;
    }

    &:nth-child(2) {
      transition: all .4s ease;
    }

    &:nth-child(3) {
      transition: all .6s ease;
    }

    &:nth-child(4) {
      transition: all .8s ease;
    }


  }

  &.white {
    .line {
      background-color: #FFF;
    }
  }

}
border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(164 164 164 / var(--t
.btnIconAn {
  height: 50px;

  .sendIconLeft {
    @apply block transition-all ease-in xl:translate-x-full xl:right-0 right-[55px] top-1/2 -translate-y-1/2;
    position: absolute;
  }

  .sendText {
    @apply block transition-all ease-in xl:translate-x-0 translate-x-[-25px];
  }

  &:hover {

    .sendText {
      @apply xl:translate-x-[-25px]
    }


    .sendIconLeft {
      transform: translateX(0);
      right: 55px;
    }

    .sendIconRight {
      transform: translateX(50px);

    }
  }

  &.doc-btn {

    &:hover {

      .sendText {
        @apply xl:translate-x-[-20px];
      }


      .sendIconLeft {
        @apply xl:translate-x-0 xl:right-[10px];
      }
    }
  }
}

.section {
  @apply py-[40px] s:py-[75px] relative flex flex-col gap-[20px] s:gap-[40px];


  &__title {
    @apply leading-[1] tracking-[-0.04em] text-center text-[24px] xs:text-[40px] l:text-[56px];
  }
}

.slide-dots {
  @apply w-[8px] h-[8px] relative border border-solid border-[#93969D] rounded-full;

  &.active {
    @apply bg-[#34446D] border-[#34446D] ;

    &::before {
      @apply opacity-100;
      transform: translate(-50%, -50%) scale(2);

    }
  }

  &::before {
    @apply w-[8px] h-[8px] relative border border-solid border-[#34446D] rounded-full opacity-0;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
  }

  &-box {
    @apply flex xl:hidden mx-auto justify-center flex-wrap px-[20px] gap-[7px];
  }
}

.main {
  &__input {


    &:not(:placeholder-shown) {
      background: #34446d33 !important;
      box-shadow: inset 2px 2px 2px #071a2680, inset -2px -2px 2px #071a2680;
      border-color: #ffffff80 !important;
    }
  }
}


.safeguard__box {
  @apply flex gap-[20px];

  @media (max-width: $media-xl) {
    width: calc(100% + 40px);
    margin: 0 -20px;
  }
}