//стили страницы
@import 'base/variables';
@import 'base/mixins';
@import "node_modules/photoswipe/dist/photoswipe";

@import 'blocks/modals/pswp.scss';

@import 'sections/article/mtp-spoiler';
@import 'sections/article/mtp-gallery';

@import 'sections/main/main-adv';
@import 'sections/main/main-spoiler';
@import 'sections/main/main-gallery';


.bg-secondary {
  background-color: #F5F5F5;

  .container {
    background-color: #F5F5F5;
  }
}


:root {
  --cr-white: 0, 0%, 100%;
  --cr-malachite: 133, 79%, 51%;
  --cr-java: 180, 87%, 38%;
  --cr-mirage: 240, 25%, 12%;
}

$gradient-1: hsl(var(--cr-malachite)), hsl(var(--cr-java));
$wall__line_bd-cr: hsl(0deg 0% 100% / 0%);
$wall__line_box-sw: 0 0 0.2em hsla(0, 0%, 0%, 0.18);

.slide-blur {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  display: flex;

  .line {
    background-color: $wall__line_bd-cr;
    width: 20px;
    backdrop-filter: blur(var(--blur));

    &:nth-child(1) {
      transition: all .2s ease;
    }

    &:nth-child(2) {
      transition: all .4s ease;
    }

    &:nth-child(3) {
      transition: all .6s ease;
    }

    &:nth-child(4) {
      transition: all .8s ease;
    }


  }

  &.white {
    .line {
      background-color: #FFF;
    }
  }

}

.btnIconAn {
  height: 50px;
  .sendIconLeft {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
  }

  &:hover {

    span {
      transform: translateX(55px);
    }


    .sendIconLeft {
      transform: translateX(0);
      left: 15px;
      opacity: 1;
    }

    .sendIconRight {
      transform: translateX(50px);
      opacity: 0;

    }
  }

  &.doc-btn {
    &:hover {

      span {
        transform: translateX(20px);
      }


      .sendIconLeft {
        transform: translateX(0);
        left: 10px;
        opacity: 1;
      }
    }
  }
}