.breadcrumbs {
	@apply text-[16px] text-[#A4A4A4] xl:px-[40px] px-[29px] flex items-center  absolute left-0 xl:top-[68px] top-[58px];

	z-index: 5;

	&__item {
		display: flex;
		align-items: center;		

		&:not(:last-child) {
			&::after {
				content: '';
				display: block;
				margin: 0 9px;
				width: 6px;
				height: 10px;
				background-image: url('../../../assets/images/svg/functional/breadcrumbs-arrow.svg');
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
		}

		&:last-child {
			@apply text-[#34446D];
		}
	}

	&__link {
		@apply hover:text-[#34446D]  transition-transform duration-100 active:scale-95;

		transition: transform .1s ease;
		will-change: transform, color, clip-path;
		position: relative;

		&:after {
			content: "";
			border-bottom: 1px solid #34446D;
			transition: clip-path .1s ease, border-color .1s ease;
			transform: translateZ(0);
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;

			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: -1px;
			clip-path: inset(0 0 0 100%);
		}

		&:hover {
			&::after {
				clip-path: inset(0 0 0 0);
			}
		}
	}
}