@use '../base/variables' as *;

.close {
    display: block;
    width: 26px;
    height: 26px;
    float: right;
    cursor: pointer;
    position: relative;
    z-index: 3000;
    --close-color: #93969D;

    @media (max-width: $media-s) {
        width: 20px;
        height: 20px;
    }
}

.close>div {
    position: relative;
}

.close-button-block {
    position: relative;
    overflow: hidden;
    width: 26px;
    height: 13px;

    @media (max-width: $media-s) {
        width: 20px;
        height: 10px;
    }
}

.close-button-block:before,
.close-button-block:after {
    content: "";
    position: absolute;
    bottom: 0;

    left: calc(50% - 1px);
    display: block;
    width: 2px;
    height: 30px;
    transform-origin: bottom center;
    background: var(--close-color);
    transition: all ease-out 280ms;
}

.close-button-block:last-of-type {
    transform: rotate(180deg);
}

.close .in .close-button-block:before {
    transition-delay: 280ms;
    transform: translateX(14px) translateY(-14px) rotate(45deg);
}

.close .in .close-button-block:after {
    transition-delay: 280ms;
    transform: translateX(-14px) translateY(-14px) rotate(-45deg);
}

.close .out {
    position: absolute;
    top: 0;
    left: 0;
}

.close .in .close-button-block:before {
    transition-delay: 280ms;
    transform: translateX(20px) translateY(-20px) rotate(45deg);
}

.close .in .close-button-block:after {
    transition-delay: 280ms;
    transform: translateX(-22px) translateY(-22px) rotate(-45deg);
}

.close .out {
    position: absolute;
    top: 0;
    left: 0;
}

.close .out .close-button-block:before {
    transform: translateX(-5px) translateY(5px) rotate(45deg);
}

.close .out .close-button-block:after {
    transform: translateX(5px) translateY(5px) rotate(-45deg);
}

.close:hover .in .close-button-block:before {
    transform: translateX(-5px) translateY(5px) rotate(45deg);
}

.close:hover .in .close-button-block:after {
    transform: translateX(5px) translateY(5px) rotate(-45deg);
}

.close:hover .out .close-button-block:before {
    transform: translateX(-20px) translateY(20px) rotate(45deg);
}

.close:hover .out .close-button-block:after {
    transform: translateX(20px) translateY(20px) rotate(-45deg);
}