.animateCopyNotification {
    animation: copy-notification 0.3s ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-name: copy-notification;
}


@keyframes copy-notification {
    0% {
        opacity: 0;
        transform: translateX(-120%);
    }
    5% {
        opacity: 1;
        transform: translateX(-100%);
    }

    95% {
        opacity: 1;
        transform: translateX(-100%);
    }

    100% {
        opacity: 0;
        transform: translateX(-80%);
    }
}