input,
textarea,
select {
  font-family: $font-family;
}

input:auto-fill {
    -webkit-text-fill-color: inherit;
}

.field {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  cursor: pointer;
  margin: 0;
  z-index: 0;
  vertical-align: middle;	

  &.bounce {
    animation: bounce-input 0.4s ease;
    transition: transform 0.2s ease;
  }

  &__input,
  &__textarea {
    margin-top: 25px;
    z-index: 1;
    @include transition();
    display: block;
    height: 50px;
    background: #4a587d;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding: 12px 12px;
    color: $input-placeholder-filled;
    border: 1px solid #737373;
    resize: none;
    outline: none;
    caret-color: #fff;

    &.error {
      color: #FF3030;
    }

    @media (max-width: $media-s) {
      font-size: 14px;
      line-height: 20px;
      height: 32px;
      padding: 12px 16px;
      margin-top: 20px;
    }

    &::placeholder {
      color: transparent;
    }

    /* &:placeholder-shown:not(:focus) {
      & ~ .field__title {
        display: block;
      }
    } */
    &:not(:placeholder-shown):not(:focus) {
      &~.field__title {
        z-index: -1;

      }
    }

    &:hover,
    &:focus {

      &~.field__title {
        opacity: 0;
      }

    }

    &:focus {
      // background: #20272a;
      box-shadow: inset 2px 2px 2px #071a2680, inset -2px -2px 2px #071a2680;

      border: 1px solid #737373;
      z-index: 1;

      &~.field__title-top {
        top: 0px;

        // @media (max-width: $media-s) {
        //   font-size: 14px;
        //   top: 22px;
        //   left: 8px;
        // }
      }
    }

    &:disabled {
      border-color: $input-bg-disable;
      background: $input-bg-disable;
    }

    &:required {
      &~.field__title {
        &::after {
          content: '\00A0*';
          color: $input-placeholder-required;
        }
      }
    }
  }

  &__textarea {
    min-height: 100px;
    height: 100px;
    resize: vertical;
  }

  &__title {
    @include transition();

    position: absolute;
    top: 40px;
    left: 10px;
    z-index: 1;
    font-size: 16px;
    color: $input-placeholder-normal;
    max-width: calc(100% - 40px);
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;

    &-top {
      @include transition();
      position: absolute;
      top: 40px;
      left: 10px;
      z-index: -1;
      font-size: 16px;
      color: $input-placeholder-normal;
      max-width: calc(100% - 40px);
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @media (max-width: $media-s) {
      font-size: 14px;
      top: 26px;
      left: 8px;
    }
  }


}

/*Стили чекбоксов и радиокнопок*/
.field-check {
  display: block;
  position: relative;
  cursor: pointer;
  margin: 0;

  &__input {

    position: absolute;
    top: 5px;
    left: 5px;
    width: 14px;
    height: 14px;
    margin: 0;
    opacity: 0;

    &:checked {
      &~.field-check__name {
        &::before {
          border-color: $icon-accent;
        }

        &::after {
          opacity: 1;
        }
      }
    }

    &[type='checkbox'] {
      &~.field-check__name {
        &::before {
          border-radius: 4px;
        }

        &::after {
          mask-size: contain;
          mask-repeat: no-repeat;
          mask-position: center;
          -webkit-mask-size: contain;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-position: center;
          mask-image: url(../../images/svg/functional/checkbox.svg);
          -webkit-mask-image: url(../../images/svg/functional/checkbox.svg);
        }
      }
    }

    &[type='radio'] {
      &~.field-check__name {
        &::before {
          border-radius: 20px;
        }

        &::after {
          border-radius: 20px;
        }
      }
    }
  }

  &__name {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 24px;
    color: $typography-primary;
    padding-left: 26px;

    &::before {
      @include transition();
      content: '';
      position: absolute;
      top: 4px;
      left: 4px;
      width: 14px;
      height: 14px;
      border: 1px solid $icon-normal;
    }

    &::after {
      @include transition();
      content: '';
      position: absolute;
      z-index: 2;
      top: 8px;
      left: 8px;
      width: 6px;
      height: 6px;
      background-color: $icon-accent;
      opacity: 0;
    }

    &:hover,
    &:focus {
      &::before {
        border-color: $icon-hover;
      }
    }

    &:checked {
      &::after {
        opacity: 1;
      }
    }
  }
}

.policy {
  color: $white-color;
  font-size: 14px;
  line-height: 20px;

  .field-check__name {
    color: $white-color;
    font-size: 14px;
    line-height: 20px;
  }

  a {
    @include transition();
    color: $white-color;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: $typography-accent;
    }
  }
}

.search-field {
  &__input {
    font-size: 16px;
    line-height: 24px;
    color: $typography-primary;
    width: 100%;
    padding: 12px 16px;
    border: 1px solid $input-border-active;
    border-radius: 4px;
    outline: none;

    &::placeholder {
      color: $typography-secondary;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.border-main {
  border: 1px solid #727272;


}

.main-form {
  position: relative;
  overflow: hidden;
  .active {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
  }
}

@keyframes bounce-error {
  0% {
    transform: translateY(-50px);
  }



  40% {
    transform: translateY(5px);
  }

  60% {
    transform: translateY(-5px);
  }

  80% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-input {
  0% {
    transform: translateX(0);
  }

  30% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-2px);
  }

  70% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
}

.error-list {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(110%);
  padding-top: 4px;
  list-style: none;
  font-size: 12px;
  line-height: 14px;
  color: $func-error;
  transition: transform 0.2s ease;
  z-index: -1;


  li {
    margin: 0;

    list-style: none;
    font-size: 14px;
    line-height: 14px;
    transform: translateY(-50px);

    &.bounce {
      animation: bounce-error 0.5s ease;
      animation-fill-mode: forwards;
      transition: transform 0.2s ease;
    }
  }
}