@import '../base/variables' ;
@import '../base/mixins' ;

$border-color: $theme-border ;

$input-border-color: $input-border-normal ;

$input-color: $input-bg-normal;

$calendar-active-color: $bg-invert;
$calendar-active-background-color: $bg-invert ;



// @import 'node_modules/vue2-datepicker/scss/index.scss';

.rmdp {
  &-datepicker {
    display: block !important;
    width: 100% !important;

    &-wrapper {
      font-family: $font-family !important;
      color: $input-placeholder-normal !important;
      background: $bg-invert !important;
      border-radius: 8px !important;
      border: none !important;
    }

    &-popup {
      width: calc(100% - 16px) !important;
      max-width: 340px !important;
      box-shadow: 0 4px 24px rgb(0 0 0 / 36%) !important;
      // left: 0 !important !important;
    }
  }

  &-icon {
    &-calendar {
      color: $input-placeholder-normal !important;
      font-size: 24px !important;
      @media (max-width: $media-s) {
        font-size: 18px !important;
      }
    }
    &-clear {
      color: $input-placeholder-normal !important;
      font-size: 24px !important;
      @media (max-width: $media-s) {
        font-size: 18px !important;
      }

      &:hover {
        color: $input-placeholder-hover !important;
      }
    }
  }

  &-btn {
    transition: color 0.2s ease-in-out 0s !important;
    &:hover {
      color: $icon-hover !important;
    }
  }

  &-calendar {
    padding: 16px !important;
    width: 100% !important;
    min-width: 248px !important;

    &-content {
      height: 252px !important;

      .cell {
        transition: color 0.2s ease-in-out 0s,
          background-color 0.2s ease-in-out 0s !important;
        border-radius: 4px !important;

        &:hover {
          background-color: transparent !important;
          color: $typography-accent !important;
        }

        &.active {
          background-color: $theme-primary !important;
          color: $typography-invert !important;
        }
      }
    }
  }

  &-table {
    th {
      text-align: center !important;
    }

    th,
    td {
      font-size: 14px !important;
      border: none !important;
    }

    &-date {
      .cell.not-current-month {
        color: $input-placeholder-disable !important;
      }

      .today {
        background-color: $input-bg-normal !important;
        color: $typography-invert !important;
      }
    }
  }

  &-input {
    width: 100%;
    outline: none !important;
    display: block !important;
    height: 48px !important;
    border: none !important;
    border-radius: 8px !important;
    background-color: $input-bg-normal !important;
    font-size: 16px !important;
    line-height: 24px !important;
    font-weight: 400 !important;
    padding: 12px 20px !important;
    color: $input-placeholder-filled !important;
    resize: none !important;
    @media (max-width: $media-s) {
      font-size: 14px !important;
      line-height: 20px !important;
      padding: 12px 16px !important;
    }

    &::placeholder {
      font-size: 16px !important;
      line-height: 24px !important;
      color: $input-placeholder-normal !important;
      max-width: calc(100% - 40px) !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      @media (max-width: $media-s) {
        font-size: 14px !important;
        line-height: 20px !important;
        top: 14px !important;
        left: 16px !important;
      }
    }
  }
}

.rmdp-ep-arrow {
  display: none !important;
}